<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/13_String_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Formatting**

* Using % Operator (old method)
* str.format() method
* f-strings

**Using % Operator (old method)**

In [4]:
name ="pavani"
age=25
print("my name is %s and I'm %d years old."%(name,age))

my name is pavani and I'm 25 years old.

**default arguments**

In [5]:
# default arguments
print("my name is {} and I'm {} years old.".format(name,age))

my name is pavani and I'm 25 years old.

**positional arguments**

In [7]:
name ="pavani"
age=25
print("my name is {} and I'm {} years old.".format(name,age))
print("my name is {0} and I'm {1} years old.".format(name,age))
print("my name is {0} and I'm {0} years old.".format(name,age))
print("my name is {1} and I'm {0} years old.".format(name,age))
print("my name is {1} and I'm {1} years old.".format(name,age))

my name is pavani and I'm 25 years old.
my name is pavani and I'm 25 years old.
my name is pavani and I'm pavani years old.
my name is 25 and I'm pavani years old.
my name is 25 and I'm 25 years old.

In [10]:
name ="pavani"
age=25
food="cheesecakes"
print("my name is {} and I'm {} years old and i love {}.".format(name,age,food))
print("my name is {0} and I'm {1} years old and i love {2}.".format(name,age,food))
print("my name is {0} and I'm {2} years old and i love {1}.".format(name,age,food))
print("my name is {1} and I'm {0} years old and i love {2}.".format(name,age,food))
print("my name is {2} and I'm {1} years old and i love {0}.".format(name,age,food))

my name is pavani and I'm 25 years old and i love cheesecakes.
my name is pavani and I'm 25 years old and i love cheesecakes.
my name is pavani and I'm cheesecakes years old and i love 25.
my name is 25 and I'm pavani years old and i love cheesecakes.
my name is cheesecakes and I'm 25 years old and i love pavani.

**keyword arguments**

In [13]:
print("my name is {name} and I'm {age} years old and i love {food}.".format(name="maira",age=1.5,food="raagi"))

my name is maira and I'm 1.5 years old and i love raagi.

**mixed arguments**

In [24]:
print("my name is {} and I'm {age} years old.".format("pavani",age=24))
print("my name is {name} and I'm {1} years old.".format(name="Maira",age=24))

my name is pavani and I'm 24 years old.

IndexError: Replacement index 1 out of range for positional args tuple

In [26]:
print("my name is {} and I'm {age} years old.".format("pavani",age=24))
print("my name is {name} and I'm {0} years old.".format(24,name="Maira"))
#here we gave {0} ,in format at o position it has to be there
print("my name is {name} and I'm {1} years old.".format("nothing",2.5,name="Maira"))
#here we gave {1} ,in format at 1  position it has to be there so at o position smthng has to be written

my name is pavani and I'm 24 years old.
my name is Maira and I'm 24 years old.
my name is Maira and I'm 2.5 years old.

In [28]:
print("My name is {1} and I'm {age} years old.".format(age=26,"Pavani"))
#print("My name is {1} and I'm {age} years old.".format("nothing","Pavu",age=26))

SyntaxError: positional argument follows keyword argument (<ipython-input-28-b1b33d72466a>, line 1)

In [29]:
#above error
print("My name is {1} and I'm {age} years old.".format("nothing","Pavu",age=26))

My name is Pavu and I'm 26 years old.

**integer arguments**

In [33]:
print("everyday i sleep around {:d}PM".format(11))
print("everyday i wakeup around {:d}AM".format(8.30))
#for :d float will not be accepted also string like format("9")

everyday i sleep around 11PM

ValueError: Unknown format code 'd' for object of type 'float'

**Float arguments**

In [39]:
print("i got my percentage around {:f}".format(80.3782))
print("i got my percentage around {:.2f}".format(80.3782)) #.2 round off to 2 digits
print("i got my percentage around {:.3f}".format(80.3782))
print("i got my percentage around {:.4f}".format(80.3782))

i got my percentage around 80.378200
i got my percentage around 80.38
i got my percentage around 80.378
i got my percentage around 80.3782

**Padding- (space)adds**

In [44]:
print("padding for decimal number) {:10d}".format(12897))
#print("padding for decimal number) {:2.3d}".format(10.5678))
#for deciaml we cant add float numbers only integer
print("padding for decimal number) {:16d}".format(100))
print("padding for float number) {:10f}".format(12897))
print("padding for float number) {:12.3f}".format(10.5678))
print("padding for float number) {:16.5f}".format(100))

padding for decimal number)      12897
padding for decimal number)              100
padding for float number) 12897.000000
padding for float number)       10.568
padding for float number)        100.00000

**Left right centre alignment integer** {:<5d},>^

In [48]:
print("left alignment of integer {:<10d} ".format(12))
print("left alignment of integer {:>10d} ".format(12))
print("left alignment of integer {:^10d} ".format(12))

print("left alignment of integer {:<010d} ".format(12))
print("left alignment of integer {:>010d} ".format(12))
print("left alignment of integer {:^010d} ".format(12))

left alignment of integer 12
left alignment of integer         12
left alignment of integer     12
left alignment of integer 1200000000
left alignment of integer 0000000012
left alignment of integer 0000120000

**Left right centre alignment string**

In [50]:
print("left alignment of string {:<10} ".format("pavani"))
print("left alignment of string {:>10} ".format("pavani"))
print("left alignment of string {:^10} ".format("pavani"))

print("left alignment of string {:<010} ".format("pavani"))
print("left alignment of string {:>010} ".format("pavani"))
print("left alignment of string {:^010} ".format("pavani"))

left alignment of string pavani
left alignment of string     pavani
left alignment of string   pavani
left alignment of string pavani0000
left alignment of string 0000pavani
left alignment of string 00pavani00

**Truncating the strings**

In [52]:
print("truncated string {:.3} ".format("maira"))
print("truncated string {:.4} ".format("maira"))

print("truncated string left align {:0<10.3} ".format("maira"))
print("truncated string right align {:>010.3} ".format("maira"))
print("truncated string centre align {:^010.3} ".format("maira"))

truncated string mai
truncated string mair
truncated string left align mai0000000
truncated string right align 0000000mai
truncated string centre align 000mai0000

In [55]:
print("Binary Value: {0:b}, Oct Value: {0:o}, Hex Value: {0:x}".format(12))
#{0:b} converts the number to its binary representation.
#{0:o} converts the number to its octal representation.
#{0:x} converts the number to its hexadecimal representation (lowercase).

print("Binary Value: {0:b}, Oct Value: {1:o}, Hex Value: {2:x}".format(12, 14, 15))
#{b}, {o}, and {x} without index numbers assume you are formatting the positional arguments passed to format().
#Here, only the first number (12) is used for all three conversions. The other arguments 14 and 15 are ignored since no placeholders reference them.

Binary Value: 1100, Oct Value: 14, Hex Value: c
Binary Value: 1100, Oct Value: 16, Hex Value: f

**_  ","**

In [58]:
1_000 + 1_000000

1001000

In [60]:
1_999+1_00000

101999

In [59]:
1,000+1,000000

(1, 1, 0)

In [61]:
1,999+1,00000

(1, 1000, 0)

**f strings(formatted string literals)**

In [62]:
name = "pavani"
age=25
print(f"hello i'm {name} and i'm {age} years old")
#we dont use format func here and specify format also

hello i'm pavani and i'm 25 years old

In [63]:
floatvalue=12.678
print(f"Float value is :{floatvalue:.2f}")

Float value is :12.68

In [64]:
print("""
name="pavani"
age=25,
gender="female"
""")
#prints in diff lines

name="pavani"
age=25,
gender="female"