<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/15_Lists_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operations on Lists[ ]**



1. Initializing a list
2. Accessing elements of a list & Slicing a list
3. Adding elements to the list
  * append
  * insert
  * extend
4. user input - lists
5. Updating list items (single/multiple items)
6. Remove, Del, Clear, Pop
7. List Comprehensions

**Initializing a list**

In [ ]:
mylist=[]
print(mylist)

[]

In [ ]:
mylist=list()
print(mylist)

[]

In [ ]:
mylist=list('')
print(mylist)
mylist=list(' ')
print(mylist)
print(mylist[0])

[]
[' ']

* we can pass set tuple inside list

In [ ]:
name ="Venkata Pavani"
oput=list(name)
print(oput)

['V', 'e', 'n', 'k', 'a', 't', 'a', ' ', 'P', 'a', 'v', 'a', 'n', 'i']

**Accessing a list**

In [ ]:
mylist =[1,"pavani",3,'a','b',"venkata"]
print(mylist)

[1, 'pavani', 3, 'a', 'b', 'venkata']

In [3]:
mylist =[1,"pavani",3,'a','b',"venkata"]
print(mylist[0])
print(mylist[2])
print(mylist[-3])

1
3
a

In [1]:
mylist =[1,"pavani",3,'a','b',"venkata"]
for l in mylist:
  print(l)

1
pavani
3
a
b
venkata

In [6]:
mylist =[["pavani"],3,['a','b'],"venkata"]
len(mylist)

4

In [7]:
name="venkata pavani"
l=list(name)
print(l)

['v', 'e', 'n', 'k', 'a', 't', 'a', ' ', 'p', 'a', 'v', 'a', 'n', 'i']

**Accessing multidimentional list**

In [9]:
mdlist=[1,'a',["abc","bcd"],'p',"pavani",[1],[123,"maira"]]
len(mdlist)

7

In [28]:
mdlist=[1,12,[23,24,[25,[28,30]],25],29,33,[44],[123,45]]
len(mdlist)

7

In [29]:
mdlist=[1,12,[23,24,[25,[28,30]],25],29,33,[44],[123,45]]
print(mdlist[0])
print(mdlist[1])
print(mdlist[2])
print(mdlist[3])
print(mdlist[4])
print(mdlist[5])
print(mdlist[6])

1
12
[23, 24, [25, [28, 30]], 25]
29
33
[44]
[123, 45]

In [32]:
mdlist=[1,12,[23,24,[25,[28,30]],25],29,33,[44],[123,45]]
print(mdlist[2])
print(mdlist[2][0])
print(mdlist[2][2])
print(mdlist[2][2][1])
print(mdlist[2][2][1][1])

[23, 24, [25, [28, 30]], 25]
23
[25, [28, 30]]
[28, 30]
30

**Slicing a list**

mylist[startindex : endindex : stepsize]

In [1]:
mylist=["pavani","maira","me","mom","hehe"]
mylist[1:]

['maira', 'me', 'mom', 'hehe']

In [2]:
mylist=["pavani","maira","me","mom","hehe"]
mylist[1:3]

['maira', 'me']

In [7]:
mylist=["pavani","maira","me","mom","hehe"]
mylist[-1:3]

[]

In [8]:
mylist=["pavani","maira","me","mom","hehe"]
mylist[-1:-3]

[]

In [9]:
mylist=["pavani","maira","me","mom","hehe"]
mylist[-1:-3:-1]

['hehe', 'mom']

In [21]:
alpha = ['a', 'b','c','d','e','f','g','h','i','j']
print(alpha[1:5])
print(alpha[1:-5])
print(alpha[-1:5])
print(alpha[-1:-5])
print("_________________")

print(alpha[1:5:-1])
print(alpha[1:-5:-1])
print(alpha[-1:5:-1])
print(alpha[-1:-5:-1])
print("_________________")
print(alpha[1:5:1])
print(alpha[1:-5:1])
print(alpha[-1:5:1])
print(alpha[-1:-5:1])
print("_________________")
print(alpha[::])
print(alpha[::1])
print(alpha[::-1])

['b', 'c', 'd', 'e']
['b', 'c', 'd', 'e']
[]
[]
_________________
[]
[]
['j', 'i', 'h', 'g']
['j', 'i', 'h', 'g']
_________________
['b', 'c', 'd', 'e']
['b', 'c', 'd', 'e']
[]
[]
_________________
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

**Adding elements to list**
* append()
* adds elements at end of list

In [29]:
mylist=["pavani","maira","me","mom","hehe"]
print("before adding :",mylist)
print(id(mylist))
print("-----------")
mylist.append("mommy")
print("after adding :",mylist)
print(id(mylist))

before adding : ['pavani', 'maira', 'me', 'mom', 'hehe']
140303453627776
-----------
after adding : ['pavani', 'maira', 'me', 'mom', 'hehe', 'mommy']
140303453627776

In [30]:
mylist=["pavani","maira","me","mom","hehe"]
mylist.append("home","sweet")
print(mylist)

TypeError: list.append() takes exactly one argument (2 given)

In [39]:
mylist=["pavani","maira","me","mom","hehe"]
mylist.append(["home","sweet"])
print(mylist)
print("-----------------------------------------")
mylist=["pavani","maira","me","mom","hehe"]
mylist.append(("home","sweet"))
print(mylist)
print("-----------------------------------------")
mylist=["pavani","maira","me","mom","hehe"]
mylist=mylist.append(["paav","pee"])
print(mylist)
# append() method in Python modifies the list in place and returns None. This means that append() doesn't create a new list; instead, it adds the specified element(s) to the original list.

#The append() method adds ["paav", "pee"] to the list.
# However, append() does not return the modified list; it returns None.
# Reassigning to None:
# By doing mylist = mylist.append(...), you're assigning the result of append() (which is None) back to mylist.
#mylist.append(["paav", "pee"]) adds the list ["paav", "pee"] to mylist. But since append() returns None, when you assign mylist = mylist.append(["paav", "pee"]), you are actually assigning None to mylist.

#important

['pavani', 'maira', 'me', 'mom', 'hehe', ['home', 'sweet']]
-----------------------------------------
['pavani', 'maira', 'me', 'mom', 'hehe', ('home', 'sweet')]
-----------------------------------------
None

In [41]:
listnum=[1,2,3,4]
listnum.append(10)
print(listnum)

[1, 2, 3, 4, 10]

In [42]:
listnum=[1,2,3,4]
listnum.append([10,20])
print(listnum)

[1, 2, 3, 4, [10, 20]]

insert()
* adds at particular index we want

In [57]:
mylist=["pavani","maira","me","mom","hehe"]
print(id(mylist))
mylist.insert(0,"home")
print(mylist)
print(id(mylist))

print("-------------------------------------------------------")
mylist=["pavani","maira","me","mom","hehe"]
mylist.insert(1,"home")
mylist.insert(2,"photo")
print(mylist)
print(id(mylist))

print("-------------------------------------------------------")
mylist=["pavani","maira","me","mom","hehe"]
mylist.insert(-1,"home")
print(mylist)
print(id(mylist))

print("-------------------------------------------------------")
mylist=["pavani","maira","me","mom","hehe"]
mylist=mylist.insert(0,"home")
print(mylist)
print(id(mylist))
#When you use a negative index with insert(), it inserts the new element before the element at that negative index.
#The list is initially: ["pavani", "maira", "me", "mom", "hehe"].
# The negative index -1 refers to the last element, which is "hehe".
# The insert(-1, "home") method call inserts "home" right before "hehe".
print("-------------------------------------------------------")

140302599134976
['home', 'pavani', 'maira', 'me', 'mom', 'hehe']
140302599134976
-------------------------------------------------------
['pavani', 'home', 'photo', 'maira', 'me', 'mom', 'hehe']
140302599141824
-------------------------------------------------------
['pavani', 'maira', 'me', 'mom', 'home', 'hehe']
140302599258560
-------------------------------------------------------
None
100564478006240
-------------------------------------------------------

In [61]:
numlist=[1,2,3,4]
numlist.insert(1,"pavani")
print(numlist)
print("_____________________")
numlist=[1,2,3,4]
numlist.insert(-1,"pavani")
print(numlist)
print("_____________________")

numlist=[1,2,3,4]
numlist.insert(-2,"pavani")
print(numlist)
print("_____________________")
numlist=[1,2,3,4]
numlist.insert(2,["pavani","maira"])
print(numlist)

[1, 'pavani', 2, 3, 4]
_____________________
[1, 2, 3, 'pavani', 4]
_____________________
[1, 2, 'pavani', 3, 4]
_____________________
[1, 2, ['pavani', 'maira'], 3, 4]

In [64]:
#appending two lists
list1=['p','a','v']
print(list1)
list2=["pavani","kv"]
print(list2)
list1.append(list2)
print("after appening :",list1)

['p', 'a', 'v']
['pavani', 'kv']
after appening : ['p', 'a', 'v', ['pavani', 'kv']]

**extend()**

In [65]:
#appending two lists using extend
list1=['p','a','v']
print(list1)
list2=["pavani","kv"]
print(list2)
list1.extend(list2)
print("list after extend() function used :",list1)

['p', 'a', 'v']
['pavani', 'kv']
list after extend() function used : ['p', 'a', 'v', 'pavani', 'kv']

In [68]:
# using extend
list1=['p','a','v']
print(list1)
list1.extend("ani")
print("list after extend() function used :",list1)
print("______________________________________________________________________")
list1=['p','a','v']
print(list1)
list1.extend("ani kvp")
print("list after extend() function used :",list1)

['p', 'a', 'v']
list after extend() function used : ['p', 'a', 'v', 'a', 'n', 'i']
______________________________________________________________________
['p', 'a', 'v']
list after extend() function used : ['p', 'a', 'v', 'a', 'n', 'i', ' ', 'k', 'v', 'p']

In [70]:
#imp
b=['p','a','v']
c=['pa','av','hv']
d=b.append(c)
print(b)
print(c)
print(d)
print("______________________________________________________________________")

['p', 'a', 'v', ['pa', 'av', 'hv']]
['pa', 'av', 'hv']
None
______________________________________________________________________

In [74]:
b=['p','a','v']
b.extend(['pa','av','hv'])
print(b)
print("__________________")
b=['p','a','v']
b.extend(('pa','av','hv'))
print(b)

['p', 'a', 'v', 'pa', 'av', 'hv']
__________________
['p', 'a', 'v', 'pa', 'av', 'hv']

In [77]:
b=['p','a','v']
print(b)
b.append(['pa','av','hv'])
print(b)
b.extend(('pa','av','hv'))
print(b)
print("__________________________")
b=['p','a','v']
print(b)
b.append("ghi")
print(b)
b.extend("ghi")
print(b)

['p', 'a', 'v']
['p', 'a', 'v', ['pa', 'av', 'hv']]
['p', 'a', 'v', ['pa', 'av', 'hv'], 'pa', 'av', 'hv']
__________________________
['p', 'a', 'v']
['p', 'a', 'v', 'ghi']
['p', 'a', 'v', 'ghi', 'g', 'h', 'i']

**User input for a list**

user_input= input("enter the input:")

In [83]:
inputv = input("enter the input:")
print(inputv)
print(type(inputv))

enter the input:1
1
<class 'str'>

if we dont give split() it will consider watever input we give as a string not list

In [85]:
inputv = input("enter the input:").split()
print(inputv)
print(type(inputv))

enter the input:1 2 3 4
['1', '2', '3', '4']
<class 'list'>

In [86]:
n = int(input("enter the size of the list :"))
n1=[]
for i in range(n):
  n1.append(n)
  print(n1)

enter the size of the list :6
[6]
[6, 6]
[6, 6, 6]
[6, 6, 6, 6]
[6, 6, 6, 6, 6]
[6, 6, 6, 6, 6, 6]

In [88]:
n = int(input("enter the size of the list :"))
n1=[]
for i in range(n):
  n1.append(int(input("enter the element:")))
  print(n1)

enter the size of the list :4
enter the element:11
[11]
enter the element:12
[11, 12]
enter the element:13
[11, 12, 13]
enter the element:14
[11, 12, 13, 14]

**Updatig list**

In [89]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2]="vijaya"
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'mom', 'hehe']

In [90]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:]="vijaya"
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'v', 'i', 'j', 'a', 'y', 'a']

In [91]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:]=["vijaya"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya']

In [96]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[1:]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'home', 'sweet', 'cheesecakes']
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'vijaya', 'home', 'sweet', 'cheesecakes']

In [94]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[1:4]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
print("___________")
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:3]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'vijaya', 'home', 'sweet', 'cheesecakes', 'hehe']
___________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'home', 'sweet', 'cheesecakes', 'mom', 'hehe']

In [95]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[1:4]="vijaya"
print("after :",mylist)
print("___________")
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:3]=["vijaya"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'v', 'i', 'j', 'a', 'y', 'a', 'hehe']
___________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'mom', 'hehe']

In [97]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[4:2]="vijaya"
print("after :",mylist)
print("___________")
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[4:2]=["vijaya"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'me', 'mom', 'v', 'i', 'j', 'a', 'y', 'a', 'hehe']
___________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'me', 'mom', 'vijaya', 'hehe']

In [102]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[1:]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
print("____________________________________________________________________________")
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
#her after that index elements wont be printed

print("_______________________________________________________________________")
print("-----------------------------------------------------------------------")

#here last elements after that index  also printed
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[1:4]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
print("____________________________________________________________________________")
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[2:3]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)
print("____________________________________________________________________________")

#here it will print all including index number we metioned also printed
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist[3:2]=["vijaya","home","sweet","cheesecakes"]
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'vijaya', 'home', 'sweet', 'cheesecakes']
____________________________________________________________________________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'home', 'sweet', 'cheesecakes']
_______________________________________________________________________
-----------------------------------------------------------------------
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'vijaya', 'home', 'sweet', 'cheesecakes', 'hehe']
____________________________________________________________________________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'vijaya', 'home', 'sweet', 'cheesecakes', 'mom', 'hehe']
____________________________________________________________________________
before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'me', 'vijaya', 'home', 'sweet', 'cheesecakes', 'mom', 'hehe']

Remove

In [103]:
mylist=["pavani","maira","me","mom","hehe"]
print("before :",mylist)
mylist.remove("me")
print("after :",mylist)

before : ['pavani', 'maira', 'me', 'mom', 'hehe']
after : ['pavani', 'maira', 'mom', 'hehe']

In [104]:
mylist=["pavani","maira","me","pavani","mom","hehe"]
print("before :",mylist)
mylist.remove("pavani")
print("after :",mylist)
#it will remove the 1st element it finds

before : ['pavani', 'maira', 'me', 'pavani', 'mom', 'hehe']
after : ['maira', 'me', 'pavani', 'mom', 'hehe']

In [105]:
mylist=["pavani","maira","me","pavani","mom","hehe"]
print("before :",mylist)
newmylist= mylist.remove("pavani")
print("after :",newmylist)
#remove() doesn't create a new list; instead, it adds the specified element(s) to the original list.thats why it return null
# remove() method in Python modifies the list in place and returns None. This means that remove() doesn't create a new list; instead, it removes the specified element(s) to the original list.

#The remove() method removes "pavani" from the list.
# However, remove() does not return the modified list; it returns None.
# Reassigning to None:

before : ['pavani', 'maira', 'me', 'pavani', 'mom', 'hehe']
after : None

**Delete**

In [106]:
l = [1,2,3,4,5]
print("before :",l)
del l[2]
#its index not element
print("after :",l)

before : [1, 2, 3, 4, 5]
after : [1, 2, 4, 5]

In [107]:
l = [1,2,3,4,5]
print("before :",l)
del l[2:]
print("after :",l)

before : [1, 2, 3, 4, 5]
after : [1, 2]

In [112]:
l = [1,2,3,4,5]
print("before :",l)
del l[2:3]
print("after :",l)
print("________________")
l = [1,2,3,4,5]
print("before :",l)
del l[2:4]
print("after :",l)
print("________________")
l = [1,2,3,4,5]
print("before :",l)
del l[:]
print("after :",l)
print("________________")

before : [1, 2, 3, 4, 5]
after : [1, 2, 4, 5]
________________
before : [1, 2, 3, 4, 5]
after : [1, 2, 5]
________________
before : [1, 2, 3, 4, 5]
after : []
________________

In [113]:
l = [1,2,3,4,5]
print("before :",l)
del l
print("after :",l)
#deletes list so not defined coming

before : [1, 2, 3, 4, 5]

NameError: name 'l' is not defined

**Clear()**

In [115]:
l = [1,2,3,4,5]
print("before :",l)
l.clear()
print("after :",l)

before : [1, 2, 3, 4, 5]
after : []

**pop()**

In [120]:
#The pop() method removes the element at the specified position.
l = [1,2,3,4,5]
print("before :",l)
l.pop(0)
print("after :",l)

before : [1, 2, 3, 4, 5]
after : [2, 3, 4, 5]

In [122]:
l = [1,2,3,4,5,"pavani"]
print("before :",l)
l.pop()
#if we dont give anything it removes last index element in list
print("after :",l)
a=l.pop()
print("value of a : ",a)

before : [1, 2, 3, 4, 5, 'pavani']
after : [1, 2, 3, 4, 5]
value of a :  5

In [123]:
l = [1,2,3,4,5,"pavani"]
print("before :",l)
l.pop(6)
print("after :",l)

before : [1, 2, 3, 4, 5, 'pavani']

IndexError: pop index out of range

**list comprehensions**
* newlist = [expression for item in iterable if condition == True]

In [124]:
#using for
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [133]:
# syntax newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

range() func in list comprehensions usage

In [140]:
#using for
n = []
for i in range(1,20):
  n.append(i)

print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [141]:
#using list comprehension
l = [i for i in range(1,20)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [142]:
l = [i*2 for i in range(1,20)]
print(l)
#This list contains the numbers from 2 to 38, which are the result of multiplying each number from 1 to 19 by 2.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [144]:
#using for
n = []
for i in range(1,11):
  if i%2 == 0:
    n.append(i)
print(n)

[2, 4, 6, 8, 10]

In [146]:
#using list comprehensions
l =[i for i in range(1,11) if i%2==0]
print(l)

[2, 4, 6, 8, 10]

In [148]:
#using list comprehensions
l =[i for i in range(1,11) if i%2==0 else i+10]
print(l)

SyntaxError: invalid syntax (<ipython-input-148-01e1c3e7c13d>, line 2)

In [149]:

l = [i if i%2==0 else i+10 for i in range(1,10)]
print(l)

[11, 2, 13, 4, 15, 6, 17, 8, 19]

In [150]:
l = [1,2,3]
m = [2,3,4]
n = []
for i in l:
  for j in m:
    if i+j>3:
      n.append((i,j))

print(n)

[(1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 2), (3, 3), (3, 4)]