<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/16_Tuple_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples** -- ()

* Initializing tuples
* Tuple with single item
* Packing and Unpacking tuples
* Accessing a Tuple & Slicing a tuple
* Update a tuple (?)
* del

**Initializing a tuple**

**initializing tuple with single item**

In [2]:
#tuple t
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t=tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
#we can pass list string empty tuple emptystring inside a tuple
t=tuple([])
print(t)
print(type(t))
print("_____")
t=tuple(())
print(t)
print(type(t))
print("_____")
t=tuple('')
print(t)
print(type(t))

()
<class 'tuple'>
_____
()
<class 'tuple'>
_____
()
<class 'tuple'>

In [8]:
t=tuple(" ")
print(t)
print(type(t))

(' ',)
<class 'tuple'>

In [9]:
t1=(1)
t2=1
t3=1,
t4=(1,)
print(t1)
print(type(t1))
print(t2)
print(type(t2))
print(t3)
print(type(t3))
print(t4)
print(type(t4))
#if tuples of length one  t=a/(a) treated as int so to mention it as tuple we have to keep a comma
#Adding a comma makes it a tuple with one element

1
<class 'int'>
1
<class 'int'>
(1,)
<class 'tuple'>
(1,)
<class 'tuple'>

**initializing tuple with multiple items**

In [10]:
#defining tuple in 2 ways
#even though we dont give paranthesis and we gve comma python will consider as  tuple
t1="a","b","c"
t2=("a","b","c")
print(t1)
print(type(t1))
print(t2)
print(type(t2))

('a', 'b', 'c')
<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>

**Tuple unpacking**

In [12]:
a=(1,2,3,4)
(i,j,k,l)=(1,2,3,4)
print(1,j,k,l)
print(1)
print(j)
print(k)
print(l)

1 2 3 4
1
2
3
4

In [14]:
a,b =(1,2,3,4,5,6,7)
print(a,b)
#we shldnt assign 7 values to 2 values

ValueError: too many values to unpack (expected 2)

In [15]:
#suppose i want to take only a value  as 1

use of * operator **bold text**

In [16]:
a,*b =(1,2,3,4,5,6,7)
print(a,b)
print(a)
print(type(a))
print(b)
print(type(b))
#here it wont be a tuple it is list

1 [2, 3, 4, 5, 6, 7]
1
<class 'int'>
[2, 3, 4, 5, 6, 7]
<class 'list'>

In [1]:
*a,b,c,d =(1,2,3,4,5,6,7)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

[1, 2, 3, 4]
<class 'list'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>

In [2]:
a,*b,c,d =(1,2,3,4,5,6,7)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

1
<class 'int'>
[2, 3, 4, 5]
<class 'list'>
6
<class 'int'>
7
<class 'int'>

In [3]:
a,b,*c,d =(1,2,3,4,5,6,7)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

1
<class 'int'>
2
<class 'int'>
[3, 4, 5, 6]
<class 'list'>
7
<class 'int'>

In [4]:
a,*b,*c,d =(1,2,3,4,5,6,7)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

SyntaxError: multiple starred expressions in assignment (<ipython-input-4-c0cfc2b0bcf4>, line 1)

In [5]:
a,*b=(1,2)
c,d=(3,4)
print(a)
print(type(a))
#even if we have single element with * it will be list
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

1
<class 'int'>
[2]
<class 'list'>
3
<class 'int'>
4
<class 'int'>

In [6]:
a,b,c,d=(1,2)
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 4, got 2)

In [7]:
a,b=(1,2,3)
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [9]:
a,*b=[1,2,3]
#in lists also packing and unpacking is works
print(a)
print(b)

1
[2, 3]

**Accessing tuples**

In [11]:
t=tuple("python")
print(t)
print(type(t))

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

In [12]:
#index starts from 0 and from backwards -1
print(t[0])
print(t[1])
print(t[-1])
print(t[-2])

p
y
n
o

**Slicing a tuple**

In [14]:
t=tuple("python")
print(t)
print(t[1:3])
print(t[1:])

('p', 'y', 't', 'h', 'o', 'n')
('y', 't')
('y', 't', 'h', 'o', 'n')

In [20]:
l=list("python")
t=tuple("python")
print(l)
print(t)
l[0] = "m"
print(l)
t[0] = 'm'
print(t)

#tuple doesnt support item assignment we cant change values in tuple - immutable

['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')
['m', 'y', 't', 'h', 'o', 'n']

TypeError: 'tuple' object does not support item assignment

In [23]:
l=[1,2,3,4]
t=(5,6,7,l)
print(l)
print(t)
print(type(t))
l[0]=10
print(t)
#if we change a list the value gets changed in tuple also

[1, 2, 3, 4]
(5, 6, 7, [1, 2, 3, 4])
<class 'tuple'>
(5, 6, 7, [10, 2, 3, 4])

In [25]:
print(t)
t[3][1]=1000
print(t)

(5, 6, 7, [10, 2, 3, 4])
(5, 6, 7, [10, 1000, 3, 4])

In [28]:
t[3] = [10,1000,3,4]
print(t)
#tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [29]:
# t=(1,2,3,4,[10,20,30])
# t[4]=[10,20]
# t[4][2]=50
# o/p = (1,2,3,4,[100,20,50])
#tuple are immuatble we cannot change once created
#above we change list not tuple
#the value we changed is tuple which resulted in the values changed in list inside of tuple

In [30]:
l=[1,2,3,4] #list
m=l
print(m)
print(l)
print(id(m))
print(id(m))
#but wen are assigning l to m then both point to same id

[1, 2, 3, 4]
[1, 2, 3, 4]
133168002013440
133168002013440

In [33]:
l=[1,2,3,4] #list
m=[1,2,3,4]
print(l)
print(m)
print(id(l))
print(id(m))
#even though both list are same doesnt mean id are pointing same

[1, 2, 3, 4]
[1, 2, 3, 4]
133168002170496
133168002159296

In [36]:

l=[1,2,3,4] #list
m=[1,2,3,4]
l=m
l[0]=1000
print(l)
print(m)
print(id(l))
print(id(m))

[1000, 2, 3, 4]
[1000, 2, 3, 4]
133168002155072
133168002155072

In [37]:
l=[1,2,3,4] #list
m=[1,2,3,4]
l[0]=1000
print(l)
print(m)
print(id(l))
print(id(m))

[1000, 2, 3, 4]
[1, 2, 3, 4]
133168001892992
133168002156928

**copy()**

In [42]:
l =[1,2,3,4,5]
m=l.copy()
print(l)
print(m)
print(id(l))
print(id(m))
#m l are same but id are different
l[0]=100
print(l)
print(m)
print(id(l))
print(id(m))
#chnage value in l doesnt make changes in id of lm it will be same as before

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
133168000474304
133168855213824
[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
133168000474304
133168855213824

In [44]:
slist =['a','b','c']
l=[1,2,3,slist]
m=l.copy()
print(l)
print(m)
print(id(l))
print(id(m))

slist[1]="pavani"
print(l)
print(m)
print(id(l))
print(id(m))

#The id() of l and m differ because l.copy() creates a new list.
# Modifying the first element of l does not affect m, but modifying the nested slist does because slist is referenced in both l and m.

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
133168003369344
133168003377920
[1, 2, 3, ['a', 'pavani', 'c']]
[1, 2, 3, ['a', 'pavani', 'c']]
133168003369344
133168003377920

In [53]:
import copy
#if you change sublist but diest copy to m we have to add copy.deepcopy()
slist =['a','b','c']
l=[1,2,3,slist]

m = copy.deepcopy(l)
print(l)
print(m)
print(id(l))
print(id(m))

slist[1]="pavani"
print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
133168000409216
133168002166528
[1, 2, 3, ['a', 'pavani', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
133168000409216
133168002166528

In [54]:
#same in case of tuple of above operations
l=(1,2,3,4)#tuple
m=(1,2,3,4)
print(l)
print(m)
print(id(l))
print(id(m))

print("___________________")
l=(1,2,3,4)
m=(1,2,3,4)
l=m
l[0]=1000
print(l)
print(m)
print(id(l))
print(id(m))
# This will print the tuple l and m, followed by their memory addresses (which should be the same since tuples are immutable and l and m are identical).
print("___________________")
l=(1,2,3,4)
m=(1,2,3,4)
l[0]=1000
print(l)
print(m)
print(id(l))
print(id(m))
#This block will raise an error because tuples are immutable, and you cannot modify them directly by assigning to an index like l[0] = 1000.
print("___________________")
l =(1,2,3,4,5)
m=l.copy()
print(l)
print(m)
print(id(l))
print(id(m))
l[0]=100
print(l)
print(m)
print(id(l))
print(id(m))
#Similar to the second block, this will also raise an error because tuples are immutable and cannot be modified.
print("___________________")
slist =('a','b','c')
l=(1,2,3,slist)
m=l.copy()
print(l)
print(m)
print(id(l))
print(id(m))

slist[1]="pavani"
print(l)
print(m)
print(id(l))
print(id(m))
#This will raise an error because tuples do not have a copy() method
#Explanation:
# Tuples are immutable, meaning you cannot change their content after creation.
# There is no copy() method for tuples.
# You can only copy tuples using slicing, but since they are immutable, it's mostly unnecessary.
# Modifying a list inside a tuple (as in the last block) will reflect in both l and m because they refer to the same list object inside the tuple.

(1, 2, 3, 4)
(1, 2, 3, 4)
133168002202048
133168000293184
___________________

TypeError: 'tuple' object does not support item assignment

**Updating tuple**

In [55]:
l = [1,2,3,4,5]
del l[1:3]
print(l)
#in lists

[1, 4, 5]

In [57]:
l = (1,2,3,4,5)
del l[1:3]
print(l)
#in tuple we cant remove

TypeError: 'tuple' object does not support item deletion

In [59]:
l = (1,2,3,4,5)
del l
print(l)
#we can delete complete  tuple but not bits and pieces bc of immutable nature

NameError: name 'l' is not defined

**sort , sorted**

In [60]:
#in lists
l=[1,10,5,8,9,12]
print(l)
print(id(l))
l.sort() #inplace sorting in sort
print(l)
print(id(l))
#inplace sorting  happened - doesnt creates new list memory id remains same

[1, 10, 5, 8, 9, 12]
133168002630592
[1, 5, 8, 9, 10, 12]
133168002630592

In [63]:
#in lists
l=[1,10,5,8,9,12]
print(l)
print(id(l))
sorted(l) #out of place sorting sorted()
print(l)
print(id(l))
print(sorted(l))
print(id(sorted(l)))
#sorted(l) creates a new list and do sorting in that i.e sorted(l) is new list, original list remains same
#memory id of list and sorted list will be differenet

[1, 10, 5, 8, 9, 12]
133168000467456
[1, 10, 5, 8, 9, 12]
133168000467456
[1, 5, 8, 9, 10, 12]
133168000476928

In [64]:
#in lists using sort
l=[1,10,5,8,9,12]
print(l)
print(id(l))
l.sort(reverse=True)  #if we want descending order
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12]
133168001969536
[12, 10, 9, 8, 5, 1]
133168001969536

In [73]:
#in lists using sorted
l=[1,10,5,8,9,12]
print(l)
print(id(l))
#sorted((l),reverse=True)  #if we want descending order
m=sorted(l,reverse=True)  #if we want descending order
print(m)
print(id(m))

[1, 10, 5, 8, 9, 12]
133168000397888
[12, 10, 9, 8, 5, 1]
133168002579136

In [74]:
l=['a','b','e','c','d','z']
l.sort()
print(l)
#sorting happens acc to unicode values

['a', 'b', 'c', 'd', 'e', 'z']

In [80]:
#find unicode using ord()
print(ord('a'))
print(ord('e'))
print(ord('c'))
print(ord('z'))

97
101
99
122

In [76]:
l=['abc','aab','aoe','mdc','od','z']
l.sort()
print(l)
#If the first characters of two strings are the same, Python moves to the next character and compares them.

['aab', 'abc', 'aoe', 'mdc', 'od', 'z']

In [81]:
l=['abc','aab',1,'aoe','mdc',4,'od','z']
l.sort()
print(l)
#we cant compare int and string values

TypeError: '<' not supported between instances of 'int' and 'str'

In [82]:
l=['abc','aab','1','aoe','mdc','4','od','z']
l.sort()
print(l)
#we cant compare int and string values but if we give as strings then we can

['1', '4', 'aab', 'abc', 'aoe', 'mdc', 'od', 'z']

In [85]:
l=["83893948949849","9"]
l.sort()
print(l)
#even though 8998238932932 number is bigger it is smaller comoared to 9 cz its not int its acts as string and sorting in string done compares 1st elements out of 2 which is smaller or gretaer it will print depends on that

['83893948949849', '9']

In [86]:
l=["a","1"," "]
l.sort()
print(l)
print(ord("a"))
print(ord("1"))
print(ord(" "))

[' ', '1', 'a']
97
49
32

In [87]:
#in tuples sprt
t=(1,2,3,4,5,6)
t.sort()
print(t)
#in tuple t.sort didnt work bcz it inplace sorting it wont support bcz of immutablity

AttributeError: 'tuple' object has no attribute 'sort'

In [92]:
#in tuples sorted will work
t=(1,2,10,44,5,6)
sorted(t)
print(sorted(t))
print(type(sorted(t)))
#in tuple tsorted()  work bcz sorted will create new list thats why it works
#even though we sorted tuple we will get list after sorting

[1, 2, 5, 6, 10, 44]
<class 'list'>

In [94]:
t=("pavani")
sorted(t)
print(sorted(t))
print(type(sorted(t)))
#watever we give in sorted() it will return lists only
#why outpur is in that order is bcz of unicade values of respective

['a', 'a', 'i', 'n', 'p', 'v']
<class 'list'>

**Reverse**

* reverse() is equivalent to   slicing [::-1]
* reverse() is inplace same old list
* reversed(l) is out of place creates new list

In [100]:
l=list("pavani")
print(l)
print(type(l))
l.reverse()
print(l)

['p', 'a', 'v', 'a', 'n', 'i']
<class 'list'>
['i', 'n', 'a', 'v', 'a', 'p']

In [107]:
l=list("pavani")
print(l)
l.reverse()
print(l)
l2=reversed(l)
print (l2)

['p', 'a', 'v', 'a', 'n', 'i']
['i', 'n', 'a', 'v', 'a', 'p']
<list_reverseiterator object at 0x791d977c38e0>

In [108]:
l=list("pavani")
print(l)
l.reverse()
print(l)
# If you want to see the output of reversed(), convert it to a list
# To view the reversed list, you can convert the iterator to a list using list(reversed(l)).

l2=list(reversed(l))
print (l2)

['p', 'a', 'v', 'a', 'n', 'i']
['i', 'n', 'a', 'v', 'a', 'p']
['p', 'a', 'v', 'a', 'n', 'i']

In [109]:
#in tuple
t=tuple("pavani")
t.reverse()
print(t)

AttributeError: 'tuple' object has no attribute 'reverse'

In [115]:
#in tuple
t=tuple("pavani")
l=reversed(t)
print(t)
print((l))

print("_______________")
#in tuple
t=tuple("pavani")
l=tuple(reversed(t))
print(t)
print((l))
print("_______________")
#in tuple
t=tuple("pavani")
l=list(reversed(t))
print(t)
print((l))

('p', 'a', 'v', 'a', 'n', 'i')
<reversed object at 0x791d97899030>
_______________
('p', 'a', 'v', 'a', 'n', 'i')
('i', 'n', 'a', 'v', 'a', 'p')
_______________
('p', 'a', 'v', 'a', 'n', 'i')
['i', 'n', 'a', 'v', 'a', 'p']

**count()**

In [119]:
#in lists
l=[1,2,3,6,5,7,2,1,5,1,2,8,2,2,3,1,1,3,5,7]
print(l.count(1))
print(l.count(10))

5
0

In [120]:
#in tuples
l=(1,2,3,6,5,7,2,1,5,1,2,8,2,2,3,1,1,3,5,7)
print(l.count(1))
print(l.count(10))

5
0

In [125]:
#in lists
l=["Pavani","maira"]
print(l.count('a'))
print(l.count('i'))

0
0

In [129]:
l="Pavani"
print(l.count('a'))
print(l.count('i'))

2
1