<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/17_Set_and_Frozenset_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETS**

* Initializing a set
* Accessing Set Items
* How to add items to the set?
* How to remove items from the set?
* Methods supported in sets
* union
* intersection
* difference
* subset, superset, disjoint

**initializing a set**

In [4]:
s={}
print(s)
print(type(s))
#its not "set" by default it will consider as dictionary if we give empty  flower brackets
print("--------------")
s={1}
print(s)
print(type(s))
print("--------------")

s=set()
print(s)
print(type(s))
#emty set will be written as like thsi

{}
<class 'dict'>
--------------
{1}
<class 'set'>
--------------
set()
<class 'set'>

* we can add/remove items
* unordered , unindexed
* unchangeable(cant modify existing
elements)
* duplicate values not allowed
* data types we cant have set ,list dictonary inside set
* mutable

In [8]:
s={1,2,3,4,5}
print(s)
print(id(s))


s.add(8)
print(s)
print(id(s))

#set is mutable id remains the same it wont create new one

{1, 2, 3, 4, 5}
132008401335264
{1, 2, 3, 4, 5, 8}
132008401335264

In [10]:
s={1,2,3,4,5,[6,8]}
print(s)
#we cant add list to set

TypeError: unhashable type: 'list'

In [13]:
s={1,2,3,4,5,{6:2,8:4}}
print(s)

TypeError: unhashable type: 'dict'

In [12]:
s={1,2,3,4,5,{6,8}}
print(s)

TypeError: unhashable type: 'set'

**set wont allow other mutable objects**

* set wont allow set,dictionary,list inside
* tuple we can have

In [14]:
s={1,2,3,4,5,(6,8)}
print(s)

{1, 2, 3, 4, 5, (6, 8)}

In [15]:
#suppose we have list inside tuple also it will not work
t=(3,[4,5])
s={1,2,3,4,5,(6,8),t}
print(s)

TypeError: unhashable type: 'list'

* 1,1.0 --> true
* 0,0.0 --> false
* above ones are treated same in set

In [16]:
s={1,True}
print(s)
#it prints only one 1 bcz true also value 1 so it consider as duplicate value so thats why t will print only one value 1

{1}

In [17]:
hash(1)

1

In [18]:
hash(True)

1

In [21]:
s={1,2,3,4,5,(6,8)}
print(len(s))
s={1,2,3,4,5}
print(len(s))
s={1,2,3,4,5,6,1,2}
#removes duplicates in list
print(len(s))
#index starts from 1 in sets

6
5
6

**accessing a set**

In [22]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s[1]

TypeError: 'set' object is not subscriptable

in - checks weather its there or not

In [23]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
"pavani"  in s

True

In [24]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
"pavani "  in s
# spaces also it wil consider

False

* adding element to set
* updating a set

In [25]:
s={10,20,30,40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [26]:
s={10,20,30,40}
s.add(50,20)
print(s)
#add will take only one argument to pass

TypeError: set.add() takes exactly one argument (2 given)

In [27]:
s={10,20,30,40}
s.add((50,60,70))
print(s)
#if we want to add multiple we can add as a tuple

{40, 10, (50, 60, 70), 20, 30}

In [29]:
s={10,20,30,40 ,50,60,70}
s.add((50,60,70))
print(s)
#50,60,70 already we have in set but we are adding as a tuple thats why its taking usually set wont take  duplicates right

{50, (50, 60, 70), 20, 70, 40, 10, 60, 30}

**update()**

In [30]:
s1={10,20,30,40}
# s.add((50,60,70))
# if we want to add multiple values in set like {40, 10, 50, 20, 30,60,70} we use update crete a new set and update
s2={50,60,70}
s1.update(s2)
print(s1)

{50, 20, 70, 40, 10, 60, 30}

**union()**

In [39]:
s1={10,20,30,40}
s2={50,60,70}

print(s1.union(s2))
print(s1)
print(s2)

print("__________")
#if we have duplicate values removes
s1={10,20,30,40}
s2={50,30,40}

print(s1.union(s2))
print(s1)
print(s2)

{50, 20, 70, 40, 10, 60, 30}
{40, 10, 20, 30}
{50, 60, 70}
__________
{50, 20, 40, 10, 30}
{40, 10, 20, 30}
{40, 50, 30}

In [40]:
s={1,2,3}
t={4,5,6}
s.update(t)
s

{1, 2, 3, 4, 5, 6}

In [42]:
t2=[10,20,30]
s.update(t2)
s
#here we are giving t2 list still it will be added in set using update method

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [49]:
s={1,2,3}
t={4,5,6}
t2=[10,20,30]
s.update(t)
s.union(t2)
print(s.union(t2))



#unon work we we adding list to set

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [51]:
s={1,2,3}
t={4,5,6}
t2=[10,20,30]
s.update(t)
t2.union(s)
print(t2.union(s))

AttributeError: 'list' object has no attribute 'union'

In [50]:
s={1,2,3}
t={4,5,6}
t2=[10,20,30]
s.update(t)
t2.update(s)
print(s.update(t2))

AttributeError: 'list' object has no attribute 'update'

In [52]:
s={1,2,3}
s.update(["RBR"]) #in update if we give list it will print whole
print(s)

{1, 2, 3, 'RBR'}

In [53]:
s={1,2,3}
s.update(("RBR"))#in  update if we give tuple it will print each one and if any duplicates it will be removed
print(s)

{1, 2, 3, 'B', 'R'}

**Remove()**

In [54]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s.remove("pavani")
s

{'kv', 'maira', 'pavan', 'sathyam', 'vijaya'}

In [55]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s.remove("pavani","maira")
s

TypeError: set.remove() takes exactly one argument (2 given)

** discard()**

In [57]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s.discard("pavani")
s

{'kv', 'maira', 'pavan', 'sathyam', 'vijaya'}

In [56]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s.remove("bittu")
s
#bittu is not there in set
#remove() throws an error if that element is not there in set

KeyError: 'bittu'

In [58]:
s={"pavani","kv","vijaya","sathyam","pavan","maira"}
s.discard("bittu")
s
#discard()  will not throws an error if that element is not there in set it will print the list

{'kv', 'maira', 'pavan', 'pavani', 'sathyam', 'vijaya'}

**pop()**

In [61]:
#by default pop() will remove the last element in list
#in lists
l=[1,2,3,4,5]
l.pop()
print(l)

l=[1,2,3,4,5]
l.pop(3)
print(l)

[1, 2, 3, 4]
[1, 2, 3, 5]

In [62]:
# pop() will remove the random  element in set not 1st and last or anything
#in sets
l={1,2,3,4,5}
l.pop()
print(l)
#pop() doesnt remove particular index  element in set bcz set doesnt have proper index
l={1,2,3,4,5}
l.pop(3)
print(l)

{2, 3, 4, 5}

TypeError: set.pop() takes no arguments (1 given)

In [69]:
#in sets
l={1,2,3,4,5,"abc",12,1.5,24}
print(l.pop())
print(l)
print(l.pop())
print(l)


l={1,2,3,4,5,"abc",12,1.5,24}
l.pop(3)
print(l)

1
{2, 3, 4, 5, 1.5, 12, 24, 'abc'}
2
{3, 4, 5, 1.5, 12, 24, 'abc'}

TypeError: set.pop() takes no arguments (1 given)

**Operations on set**

union()

In [73]:
#using uinon()
s={1,2,3}
t={4,5,6}
print(s.union(t))
#using |
s={1,2,3}
t={4,5,6}
print(s | t)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [76]:
#using uinon()
s={1,2,3}
t={4,5,6}
u={7,8,9}
v={10,11,12}

print(s.union(t,u,v))

#using uinon()
s={1,2,3}
t={4,5,6}
u={7,8,9}
v={10,11,12}
print(s.union(t,u))

#using |
s={1,2,3}
t={4,5,6}
u={7,8,9}
v={10,11,12}
print(s | t| u)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
#using uinon()
s={1,2,3}
t={4,5,6}
u=(7,8,9)
v=[10,11,12]
w="pavani"

print(s.union(t,u,v,w))

#using uinon()
s={1,2,3}
t={4,5,6}
u=(7,8,9)
v=[10,11,12]
w="pavani"

print(s.union(t,u,w))

#using |
s={1,2,3}
t={4,5,6}
u=(7,8,9)
v=[10,11,12]
w="pavani"

print(s | t | u |w)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'a', 'p', 'i', 'n', 'v'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'v', 'p', 'i', 'n'}

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [80]:
#using |
s={1,2,3}
t={4,5,6}
u={7,8,9}
v={10,11,12}
w="pavani"

print(s | t | u |w)
# | it will not take other datatypes takes only set

TypeError: unsupported operand type(s) for |: 'set' and 'str'

**intersection()**

In [81]:
a ={1,2,3,4}
b={2,3,5,7}
a.intersection(b)

{2, 3}

In [82]:
a ={1,2,3,4}
b={2,3,5,7}
c={10,20,30,40}
a.intersection(b,c)
#empty set

set()

In [84]:
a ={1,2,3,4}
b={2,3,5,7}
c={10,20,30,40,3}
a.intersection(b,c)
#a & b& c -- similar

{3}

In [88]:
a ={1,2,3,4}
b=[2,3,5,7]
c={10,20,30,40,3}
a.intersection(b,c)
#here b is list still it considers
# in | operator it will not consider only sets will be considered

{3}

**& operator -- acts as intersection**

In [85]:
a ={1,2,3,4}
b={2,3,5,7}
c={10,20,30,40,3}
a & b & c

{3}

In [86]:
a ={1,2,3,4}
b=[2,3,5,7]
c={10,20,30,40,3}
a & b & c
#here b is list

TypeError: unsupported operand type(s) for &: 'set' and 'list'

* update | union
* intersection_update | intersection

In [90]:
a ={1,2,3,4}
b={2,3,5,7}
print(a.intersection(b))
print(a)
print(b)

{2, 3}
{1, 2, 3, 4}
{2, 3, 5, 7}

In [93]:
a ={1,2,3,4}
b={2,3,5,7}
print(a.intersection_update(b))
print(a)
print(b)

None
{2, 3}
{2, 3, 5, 7}

**intersection_update --  is  " &="**

In [97]:
a ={1,2,3,4}
b={2,3,5,7}
a &= b
print(a)
print(b)

{2, 3}
{2, 3, 5, 7}

* ** & -- intersection**
* **&= --intersection_update**
* **| -- union**
*** |= -- update**

In [100]:
a ={1,2,3,4}
b={2,3,5,7}
a |= b # union
a

{1, 2, 3, 4, 5, 7}

**difference()**

In [102]:
a ={1,2,3,4}
b={2,3,5,7}
print(a.difference(b))
print(a) #remains same

{1, 4}
{1, 2, 3, 4}

In [103]:
a ={1,2,3,4}
b={2,3,5,7}
print(a -b)
print(a) #remains same

{1, 4}
{1, 2, 3, 4}

**difference_update()  -- symbol      "-="**

In [105]:
a ={1,2,3,4}
b={2,3,5,7}
a.difference_update(b)
print(a) #changes a set after difference

{1, 4}

In [106]:
a ={1,2,3,4}
b={2,3,5,7}
a -= b #difference_update symbol
print(a) #changes a set after difference

{1, 4}

**symmetric_difference**  also **^** we use this symbol

In [108]:
gateda={"ML","python","LA","calculus","aptitude"}
gatecs={"OS","C++","LA","calculus","aptitude"}
gateda.symmetric_difference(gatecs)
#removes common elements and gives remaining

{'C++', 'ML', 'OS', 'python'}

In [110]:
a ={1,2,3,4}
b={2,3,5,7}
a.symmetric_difference(b)
#removes common elements and gives remaining

{1, 4, 5, 7}

In [111]:
a ={1,2,3,4}
b={2,3,5,7}
a^b

{1, 4, 5, 7}

**symmetric_difference_update()**  also **^=** we use this symbol

In [114]:
gateda={"ML","python","LA","calculus","aptitude"}
gatecs={"OS","C++","LA","calculus","aptitude"}
gateda.symmetric_difference_update(gatecs)
print(gateda) # it will get updated
print(gatecs)

#removes common elements and gives remaining

{'OS', 'ML', 'python', 'C++'}
{'calculus', 'aptitude', 'OS', 'LA', 'C++'}

In [115]:
gateda={"ML","python","LA","calculus","aptitude"}
gatecs={"OS","C++","LA","calculus","aptitude"}
gateda ^= gatecs
print(gateda) # it will get updated
print(gatecs)

{'OS', 'ML', 'python', 'C++'}
{'calculus', 'aptitude', 'OS', 'LA', 'C++'}

**clear()**

In [118]:
gateda={"ML","python","LA","calculus","aptitude"}
print(gateda)
gateda.clear() #clear the set empties
gateda

#clear only removes elements from set doesnt delelet whole set

{'calculus', 'aptitude', 'ML', 'python', 'LA'}

set()

In [120]:
a={1,2,3,4,5,6}
del a
print(a)

#del deletes the whole set not like clear()

NameError: name 'a' is not defined

In [121]:
#copy()
a={1,2,3,5}
b=a.copy()
b

{1, 2, 3, 5}

**isdisjoint()**

In [123]:
a={1,2,3,4}
a={2,3,5,7}

a.isdisjoint(b)
#if there is any common elements it will return FALSE
#if there is no common elements it will return TRUE

False

In [127]:
a={1,2,3,4}
b={9,6,5,7}

a.isdisjoint(b)
#if there is any common elements it will return FALSE i.e aintersection b = not empty
#if there is no common elements it will return TRUE i.e aintersection b = empty

True

**issuperset()**

In [129]:
a = {1,2,3,4}
b={2,3,5,7}
a.issuperset(b)
#all the elements in b has to be in a  TRUE
#all the elements in b are not  in a  FALSE

False

In [130]:
a = {1,2,3,4,5,7,8}
b={2,3,5,7}
a.issuperset(b)

True

**issubset()**

In [131]:
a = {1,2,3,4}
b={1,2}
a.issubset(b)
#all the elements in a has to be in b  TRUE
#all the elements in a are not  in b  FALSE

False

In [132]:
a = {1,2,3,4}
b={1,2,3,4,7,8,9}
a.issubset(b)
#all the elements in a has to be in b  TRUE
#all the elements in a are not  in b  FALSE

True

# Frozen Set

* sets - mutable  (we can add /remove)
* frozenset - immutable once creaed canot chage
* wont allow duplicates
* all properties are same except mutable
* unordered unindexed

In [133]:
f=frozenset()
print(f)
print(type(f))

frozenset()
<class 'frozenset'>

In [134]:
# add elements in frozen set
f= frozenset([10,20,30,1,True,0,False])
print(f)

frozenset({0, 1, 10, 20, 30})

In [135]:
f= frozenset([10,20,30,1,True,0,False])
f.add(12)
print(f)

AttributeError: 'frozenset' object has no attribute 'add'

In [136]:
f= frozenset([10,20,30,1,True,0,False])
f.remove(20)
print(f)

AttributeError: 'frozenset' object has no attribute 'remove'

* union
* intersection
* difference
* symmetric_difference
* copy
* will work on frozen sets

* union_update
* intersection_update
* difference_update
* symmetric_difference_update
* copy
* will not work on frozen sets

In [137]:
f1=frozenset([10,20,30,40,50,60])
f2=frozenset([50,60,70])
f1.union(f2)

frozenset({10, 20, 30, 40, 50, 60, 70})

In [138]:
f1=frozenset([10,20,30,40,50,60])
f2=frozenset([50,60,70])
f1.intersection(f2)

frozenset({50, 60})

In [139]:
f1=frozenset([10,20,30,40,50,60])
f2=frozenset([50,60,70])
f1.difference(f2)

frozenset({10, 20, 30, 40})

In [140]:
f1=frozenset([10,20,30,40,50,60])
f2=frozenset([50,60,70])
f1.symmetric_difference(f2)

frozenset({10, 20, 30, 40, 70})

In [144]:
f1=frozenset([10,20,30,40,50,60])
f2=f1.copy()
f2

frozenset({10, 20, 30, 40, 50, 60})