<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/18_Dictionary_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

* Initialize a dictionary
* Create a dictionary with items
* dict.fromkeys
* Dictionary is mutable (keys & values - what can be added?)
* keys, values, items
* Accessing Items in Dictionary (get method)
* Modifying a dictionary
* update method
* deleting items in dictionary
* clear
* pop
* popitem
* Looping through dictionary

Points

* Dict = we have {key:value} pairs  in dict
* unordered before python3.7 and now its ordered i.e how we pass the values in the dict that order
* duplicates not allowed
* written in {}

**initializing a dictionary**

In [ ]:
d={}
print(d)
print(type(d))
#{} will be used for set and dict , but if we give empty it will consider as dict not set unless we give some values in it it will consider as set

{}
<class 'dict'>

In [ ]:
d={1,2,3} #set only values
print(d)
print(type(d))
d={1:'a',2:'b',3:'c'} #dict key value pairs
print(d)
print(type(d))

{1, 2, 3}
<class 'set'>
{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [ ]:
d=dict()
print(d)
print(type(d))
#another way to represent dict

{}
<class 'dict'>

In [ ]:
d=dict([])
print(d)
print(type(d))

{}
<class 'dict'>

**dictionary is ordered**

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
print(d)
#it will print in order we wrote in "d" in dict , where as in sets it will print in random order
d={1,5,2,8,0}
print(d)

{'A': 1, 'B': 2, 'C': 3}
{0, 1, 2, 5, 8}

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
d1={"A" : [1,2,3],"B" : 2 , "C" : (3,(4,5))}
print(d)
print(d1)

{'A': 1, 'B': 2, 'C': 3}
{'A': [1, 2, 3], 'B': 2, 'C': (3, (4, 5))}

* dictionary is not indexed by sequence
* indexing is done using keys

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
d1={"A" : [1,2,3],"B" : 2 , "C" : (3,(4,5))}
print(d[0])
print(d1[2])
#we shoukdnt give index values like 0,1,2....

KeyError: 0

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
d1={"A" : [1,2,3],"B" : 2 , "C" : (3,(4,5))}
print(d["A"])
print(d["B"])
print(d["C"])
print("__________")
print("__________")

print(d1["A"])
print(d1["A"][2])
print("__________")
print("__________")

print(d1["B"])
print(d1["C"])
print(d1["C"][0])
print(d1["C"][1])
print(d1["C"][1][0])
print(d1["C"][1][1])

#accessing value from  multiple index inside of inside of dictionary
#we have to give key value in place of index numbers

1
2
3
__________
__________
[1, 2, 3]
3
__________
__________
2
(3, (4, 5))
3
(4, 5)
4
5

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
d1={"A" : [1,2,3],"B" : 2 , "C" : (3,(4,5))}
print(d)
print(d1)
print("__________")

for k in d:
  print("Keys: ", k)
  print("Values: ", d[k])

print("__________")

for k in d1:
  print("Keys:", k)
  print("Values: ", d1[k])

{'A': 1, 'B': 2, 'C': 3}
{'A': [1, 2, 3], 'B': 2, 'C': (3, (4, 5))}
__________
Keys:  A
Values:  1
Keys:  B
Values:  2
Keys:  C
Values:  3
__________
Keys: A
Values:  [1, 2, 3]
Keys: B
Values:  2
Keys: C
Values:  (3, (4, 5))

**accessing a value in a dictionary**

**syntax --dictionary_name[key]**

In [ ]:
d={"A" : 1,"B" : 2 , "C" : 3}
d1={"A" : [1,2,3],"B" : 2 , "C" : (3,(4,5))}
print(d["C"])

3

**duplicate keys are not allowed**
*  1,1.0,True are treated same
* 0,0.0, False are treated same

In [ ]:
s = {1,1.5,"abc",2,2.4,"bca",False}
print(s)

d = {1: 'A', 1.0: "F", True: 'B', 0 : 'Z', 0.0 : 'FZ', False : 'BZ'}
print(d)

# 1: 'A' → Dictionary initially has {1: 'A'}
# 1.0: 'F' → 1.0 is treated the same as 1, so it updates the value, resulting in {1: 'F'}
# True: 'B' → True is also treated the same as 1, so it updates the value again, resulting in {1: 'B'}
# 0: 'Z' → Adds a new key-value pair, so now {1: 'B', 0: 'Z'}
# 0.0: 'FZ' → 0.0 is treated the same as 0, so it updates the value, resulting in {1: 'B', 0: 'FZ'}
# False: 'BZ' → False is treated the same as 0, so it updates the value again, resulting in {1: 'B', 0: 'BZ'}

{False, 1, 2, 'abc', 1.5, 2.4, 'bca'}
{1: 'B', 0: 'BZ'}

In [ ]:
d = {"1": "A", 1.0: "BZ", True: "B"}
print(d)
#its not 1:"B" , cuz 1st 1 is string"1"

{'1': 'A', 1.0: 'B'}

**duplicate values are allowed**

In [ ]:
#suppose
a="pavani"
d={a:12}
print(d)
#here dict created and changed and assigned
a="maira"
print(d)
#here it wont be assigned

{'pavani': 12}
{'pavani': 12}

In [ ]:
d={'A':12, 'B':12, "C":12}
print(d)
#duplicate values are allowed

{'A': 12, 'B': 12, 'C': 12}

**dict() method**

In [ ]:
d1=dict(a=10,b=12,c=50,d=[20,30])
print(d1)
print(type(d1))

#this will not work
d1=dict(10,20,30)
print(d1)
print(type(d1))

{'a': 10, 'b': 12, 'c': 50, 'd': [20, 30]}
<class 'dict'>

TypeError: dict expected at most 1 argument, got 3

**copy of dictionary**

In [ ]:
d1 = {'A': 12, 'B': 20, 'C': 30}
d2=d1
print(d1)
print(d2)
print(id(d1))
print(id(d2))#dict are mutable

{'A': 12, 'B': 20, 'C': 30}
{'A': 12, 'B': 20, 'C': 30}
139770230153984
139770230153984

In [ ]:
d1 = {'A': 12, 'B': 20, 'C': 30}
d2=d1
print(d1)
print(d2)
d1["A"] =100
print(d1)
print(d2)
print(id(d1))
print(id(d2))

#if we use "=" d2 also changes

{'A': 12, 'B': 20, 'C': 30}
{'A': 12, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}
139770230960384
139770230960384

In [ ]:
d1 = {'A': 12, 'B': 20, 'C': 30}
d2=d1.copy()
print(d1)
print(d2)
d1["A"] =100
print(d1)
print(d2)

{'A': 12, 'B': 20, 'C': 30}
{'A': 12, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}
{'A': 12, 'B': 20, 'C': 30}

**deepcopy()**

In [ ]:
d1 = {'A': [10,20,30], 'B': 20, 'C': 30}
print(d1)
d3 = d1.copy()
d1['A']= 500
print(d1)
print(d3)

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': 500, 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}

In [ ]:
d1 = {'A': [10,20,30], 'B': 20, 'C': 30}
d2 = d1.copy()

print(d1)
print(d2)

d1['A'][1] = 100

print(d1)
print(d2)

# if we use copy() it will change a[1] value in both to overcome this, u go to deepcopy

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}

In [ ]:
import copy

d1 = {'A': [10,20,30], 'B': 20, 'C': 30}
d2 = copy.deepcopy(d1)
print(d1)
print(d2)

d1['A'][1] = 100

print(d1)
print(d2)
   # if we use deepcopy() it will change a[1] value in only d1 not in d2

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}

In [ ]:
# "=" is similar to deepcopy() it will not change d_2
d = {'a': 10, 'b': 20, 'c': 30}

d_2 = dict(d)

print(d)
print(d_2)

d['a'] = 100
print(d)
print(d_2)
#Shallow Copy -- only if list inside is there like below example then only it will also updated ,d_2 doesntchange bcz When you create d_2 as a shallow copy of d, only the top-level objects are copied. Since lists are mutable, both d and d_2 still reference the same list object for the key 'a'.

{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}
{'a': 100, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}

In [ ]:
d = {'a': [100,200,300], 'b': 20, 'c': 30}

d_2 = dict(d) # similar to copy() method

print(d)
print(d_2)

d['a'][1] = 1000
print(d)
print(d_2)
# here d_2 also changes bcz Modifying the list inside d also modifies the list in d_2 because they share the same reference to that list.
#if we have list inside dict like that it gets change in ref dict also

{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}

In [ ]:
d = {"a": 1, "b": 2}
print("d")
print(d)
print(id(d))
d2 = d
print("d2")
print(d2)
print(id(d2))
d3 = d.copy()
print("d3")
print(d3)
print(id(d3))#d3 creates a new copy
d4 = dict(d)
print("d4")
print(d4)
print(id(d4))#d4 also creates a new copy

d
{'a': 1, 'b': 2}
139770230013888
d2
{'a': 1, 'b': 2}
139770230013888
d3
{'a': 1, 'b': 2}
139770233003712
d4
{'a': 1, 'b': 2}
139770230960384

In [ ]:
print(d)
d['b'] = 1000

print(d)
print(d2)
print(d3)#shallow copy
print(d4)#shallow copy

{'a': 1, 'b': 1000}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

**creating dictionaries using iterables - lists ,tuples**

In [ ]:
d = dict([("a",2), ("b", 4), ("c", 10)])
print(d)

{'a': 2, 'b': 4, 'c': 10}

In [ ]:
d = dict([("a",2), ("b", 4), ("c", 10), ("d", 100, 2)])
#in d key we passed 3 values is not crct syntax
print(d)

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [ ]:
d = dict([("a",2), ("b", 4), ("c", 10), (100,"d")])
print(d)
     # here 100 is key and d is value

{'a': 2, 'b': 4, 'c': 10, 100: 'd'}

In [ ]:
#we are using tuple
d = dict((("a",2), ("b", 4), ("c", 10), (100,"d")))
print(d)
# d-dict(inside tuple of tuple will allow)

{'a': 2, 'b': 4, 'c': 10, 100: 'd'}

In [ ]:
d = dict(("a",2), ("b", 4), ("c", 10), (100,"d"))
print(d)
# d-dict(inside tuple of tuple will allow) not only tuple valyes it has to be key value pairs in dict ut we are giving the tuple so its has to be inside tuple

TypeError: dict expected at most 1 argument, got 4

In [ ]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")])
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd'}

In [ ]:

d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120)#here we dnt need to pass as a string it will convert automatically in dict
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd', 'virat': 120}

In [ ]:
#if we want to consider virat as a variable we give like--  virat = "ABC"
virat = "ABC"
d = dict([(virat, 120)])
print(d)

d2 = dict([(120, virat)])
print(d2)

{'ABC': 120}
{120: 'ABC'}

In [ ]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120, rohit=100)
#here we passed as keywrd argument where converts into string and store as key so thats why 100 value is not changed
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd', 'virat': 120, 'rohit': 100}

In [ ]:
virat

'ABC'

**Creating dictionary fromkeys method**

In [ ]:
#one way of initializing dict with  a fixed value
students = ['pavani', 'venkata', 'kv', 'hehe', 'me'] # using lists
d =dict.fromkeys(students)
print(d)
#The fromkeys() method returns a dictionary with the specified keys and the specified value.
# syntax
#  ---      dict.fromkeys(keys, value)
# keys	Required. An iterable specifying the keys of the new dictionary
# value	Optional. The value for all keys. Default value is None

{'pavani': None, 'venkata': None, 'kv': None, 'hehe': None, 'me': None}

In [ ]:
students = ['pavani', 'venkata', 'kv', 'hehe', 'me']
d =dict.fromkeys(students,0)#giivng value =0
print(d)

{'pavani': 0, 'venkata': 0, 'kv': 0, 'hehe': 0, 'me': 0}

In [ ]:
students = ('pavani', 'venkata', 'kv', 'hehe', 'me') #using tuple
d =dict.fromkeys(students)
print(d)

{'pavani': None, 'venkata': None, 'kv': None, 'hehe': None, 'me': None}

In [ ]:
students = ('pavani', 'venkata', 'kv', 'hehe', 'me') #using tuple
d =dict.fromkeys(students,[1,2,3])
print(d)
# we use this method suppose wen we have a list /tuple  and we want to print keys as dictionaries we use this method

{'pavani': [1, 2, 3], 'venkata': [1, 2, 3], 'kv': [1, 2, 3], 'hehe': [1, 2, 3], 'me': [1, 2, 3]}

**keys and values in dictionary**

In [ ]:
d = {'a': [12,20,30], 'b': (20,30,40), 'c': {12,30,40}, 'd': {10:20,20:30,30:40}} # dictionary inside dictionary is possible as a value
print(d)

{'a': [12, 20, 30], 'b': (20, 30, 40), 'c': {40, 12, 30}, 'd': {10: 20, 20: 30, 30: 40}}

In [ ]:
d = { (12,20,30): 'p'} #tuple as a key
print(d)
# we can give tuple as key in dictionary bcz tuple were immutable
#to use as key in dictionary iterable has to be immutable

{(12, 20, 30): 'p'}

In [ ]:
d = { [12,20,30]: 'p'} #list as a key
print(d)

TypeError: unhashable type: 'list'

In [ ]:
d = {(12,30,[12,30]): "A"} #even inside of tuple also we cannot give list in dictionary as a key
#tuple inside tuple is possile
#list inside tuple is not possible
print(d)
# list, set, dictionaries - are mutable (so it cannot be passed as a key to a dictionary)

TypeError: unhashable type: 'list'

**len()**

In [ ]:
d = {"a": 12, "b": 13, "c": 100}
print(len(d))
#prints no of keys

3

In [ ]:
d = {"a": 12, "b": 13, "c": 100, 1:"A", "1": "ABC", 1.0:"2", False: "True"}
print(d)
print(len(d)) #not 5 bcz one '1' is string type

{'a': 12, 'b': 13, 'c': 100, 1: '2', '1': 'ABC', False: 'True'}
6

* keys : cannot be list,set,dict and we can use  tuple
* values : any data type

**# keys(), values(), items()**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['pavani', 'maira', 'me'])
dict_values([55.4, 46.9, 60.9])
dict_items([('pavani', 55.4), ('maira', 46.9), ('me', 60.9)])

In [ ]:
# why we use
for k in d.keys():
  print("keys :",k)

print("----------")
for k in d.values():
  print("values :",k)

#wen we want to ietrate a dict we use d.items() where it returns tuple contains key value pairs

print("----------")
for k in d.items():
  print("items(key:value) :",k)


print("----------")
for k,v in d.items():
  print("key :",k, "|", "values:",v)

keys : pavani
keys : maira
keys : me
----------
values : 55.4
values : 46.9
values : 60.9
----------
items(key:value) : ('pavani', 55.4)
items(key:value) : ('maira', 46.9)
items(key:value) : ('me', 60.9)
----------
key : pavani | values: 55.4
key : maira | values: 46.9
key : me | values: 60.9

# **Accessing in a dictionary**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d['pavani']

55.4

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d['hehe'] #not there

KeyError: 'hehe'

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.get('pavani')

55.4

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
b=d.get('hehe')
#here wen we use d.get we get nothing instead of error like above
print(b)

None

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.get('hehe',-1)  # get(key,default_val)
# we are assigning def value -1 so that wen value is not there it prints -1

-1

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.get('hehe',"key not found")  # get(key,default_val)

'key not found'

# **Modifying a dictionary**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d['pavani']= [100,20,30]  # keys in dic needs to be unique
print(d)
# we can add /delete a key--not value
#we cannot update a key --not value

{'pavani': [100, 20, 30], 'maira': 46.9, 'me': 60.9}

**in,not in**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print('pavani' in d)
print('pavani' not in d)
print('hehe' in d)
#in not in operatir looks for keys not values

True
False
False

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print('55.4' in d)
print('46.9' not in d)
print('60.9' in d)
#here we gave values it will not consider values

False
True
False

# **Update Method**

In [ ]:
mine={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
print(mine)

{'name': 'pavani', 'age': 24, 'profession': 'data analyst'}

In [ ]:
mine.update(profession=" senior data analyst")
print(mine)

{'name': 'pavani', 'age': 24, 'profession': ' senior data analyst'}

In [ ]:
mine.update(profession=" senior data analyst",age=25)
print(mine)

{'name': 'pavani', 'age': 25, 'profession': ' senior data analyst'}

In [ ]:
mine1={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
mine2={"salary": "15LPA" , "age" : 25 ,"profession": "senior data analyst"}
mine1.update(mine2)
print(mine1)

{'name': 'pavani', 'age': 25, 'profession': 'senior data analyst', 'salary': '15LPA'}

In [ ]:
d = {"a": [12]}
d["a"].append(20)
print(d)

{'a': [12, 20]}

In [ ]:

d = {"a": 1, "a": 2}
print(d)

{'a': 2}

In [ ]:
mine1

{'name': 'pavani',
 'age': 25,
 'profession': 'senior data analyst',
 'salary': '15LPA'}

In [ ]:
mine1={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
mine2=["salary" , "15LPA"] , ["age" , 25] ,["profession","senior data analyst"]
print(type(mine2))
# we can give as a list
# mine2=["salary" : "15LPA"] , ["age" : 25] ,["profession":"senior data analyst"] wrong we have to keep comma
mine1.update(mine2)
print(mine1)
print(type(mine1))
print(type(mine2))

<class 'tuple'>
{'name': 'pavani', 'age': 25, 'profession': 'senior data analyst', 'salary': '15LPA'}
<class 'dict'>
<class 'tuple'>

In [ ]:
mine1={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
mine2=("salary" , "15LPA") ,("age" , 25) ,("profession","senior data analyst")
#we can give as a tuple
# mine2=["salary" : "15LPA"] , ["age" : 25] ,["profession":"senior data analyst"] wrong we have to keep comma
mine1.update(mine2)
print(mine1)
print(type(mine1))
print(type(mine2))

{'name': 'pavani', 'age': 25, 'profession': 'senior data analyst', 'salary': '15LPA'}
<class 'dict'>
<class 'tuple'>

**del**

In [ ]:
mine1={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
mine2=("salary" , "15LPA") ,("age" , 25) ,("profession","senior data analyst")
del mine1["age"]
print(mine1)

{'name': 'pavani', 'profession': 'data analyst'}

In [ ]:
del mine1
print(mine1)

NameError: name 'mine1' is not defined

**clear()**

In [ ]:
mine1={"name": "pavani" , "age" : 24 ,"profession": "data analyst"}
mine1.clear()
print(mine1)

{}

**pop()**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print(d.pop("pavani"))
print(d)
#pop removes a value from dict and reurns a value

55.4
{'maira': 46.9, 'me': 60.9}

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print(d.pop("hehe"))
print(d)
#hehe is not in dict giving key error

KeyError: 'hehe'

In [ ]:
#to avoid key error
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print(d.pop("hehe","kiki")) #if the hehe is not there its taking kiki as default value and it prints
print(d)

kiki
{'pavani': 55.4, 'maira': 46.9, 'me': 60.9}

In [ ]:
#to avoid key error
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
print(d.pop("pavani","kiki")) #if the pavani is  there itprint there own value from dict
print(d)

55.4
{'maira': 46.9, 'me': 60.9}

**popitem()**

In [ ]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.popitem()
#it will print last key:value  pair in dict in the form of tuple

('me', 60.9)

In [ ]:
d

{'pavani': 55.4, 'maira': 46.9}

* pop() returns the value
* popitem()  removes  last key vaue pair and returns  that key value pair as a tuple

In [80]:
d = {"pavani": 55.4, "maira": 46.9, "me": 60.9}
d.popitem("pavani")
#like pop() it doesnt take argument

TypeError: dict.popitem() takes no arguments (1 given)

In [81]:
# Immutable dictionary (NOT FOR GATE)

from immutabledict import immutabledict

d = immutabledict({"a":10, "b": 12})

print(d)
print(type(d))

immutabledict({'a': 10, 'b': 12})
<class 'immutabledict.immutabledict'>

In [83]:
d["a"]

10

In [84]:
d["a"]=100
print(d)

TypeError: 'immutabledict' object does not support item assignment