<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/19_Functions_and_Argument_passing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

* A function is a piece of code that you can call whenever you need it, and it will run the code inside it.
* Think of it like a mini-program that you can reuse without having to rewrite the same code over and over again.

syntax to declare a function
* def function_name(arguments): #colon is mandatory
*            #body of the function
* return expression

* passing parameters is optional
* in python we can write a function without return statement as well
* by default "none" will get returned

#**Defining Functions**

In [1]:
# Defining a function
def pythonfunc_class():
  print("welcome to functions class")

# Calling a function
pythonfunc_class()

welcome to functions class

In [3]:
# Defining a function
def pythonfunc_class():
  print("welcome to functions class")

# Calling a function
usingreturn_func = pythonfunc_class()
print(usingreturn_func) #default its none

welcome to functions class
None

In [5]:
def pythonfunc_class():
  print("welcome to functions class")
  l=[100,200,300,400]
  return sum(l)
usingreturn_func = pythonfunc_class()
print(usingreturn_func)
print(type(usingreturn_func))

welcome to functions class
1000
<class 'int'>

#**Passing the arguments to functions**

In [10]:
def  myname(name):
  print("Entered name :{}" .format(name))
  return name*2

ret_val = myname("Pavani")
print(ret_val)
print(type(ret_val))

#The function prints the entered name using string formatting.
#myname("Pavani") prints "Entered name : Pavani".
# return name*2 returns "PavaniPavani".
# type(ret_val) shows that ret_val is of type <class 'str'> since the input was a string.

Entered name :Pavani
PavaniPavani
<class 'str'>

In [13]:
def  myname(name):
  print("Entered name :", name )
  return name*2

ret_val = myname("Pavani")
print(ret_val)
print(type(ret_val))

Entered name : Pavani
PavaniPavani
<class 'str'>

In [14]:
def  myname(name):
  print("Entered name :{}" .format(name))
  return name*2

ret_val = myname(10)
print(ret_val)
print(type(ret_val))

#in python it doesnt matter wat data type you are specifying we can pass list int str

Entered name :10
20
<class 'int'>

In [15]:
def  myname(name):
  print("Entered name :{}" .format(name))
  return name*2

ret_val = myname([10,20,30])
print(ret_val)
print(type(ret_val))

Entered name :[10, 20, 30]
[10, 20, 30, 10, 20, 30]
<class 'list'>

In [16]:
def  calculator (num):
  print("Entered Number :{}" .format(num))
  a=100
  return a-num

ret_val = calculator(50)
print(ret_val)
print(type(ret_val))

Entered Number :50
50
<class 'int'>

In [17]:
def  calculator (num):
  print("Entered Number :{}" .format(num))
  a=100
  return a-num

ret_val = calculator(100)
print(ret_val)
print(type(ret_val))

Entered Number :100
0
<class 'int'>

In [20]:
def  calculator (num):
  print("Entered Number :{}" .format(num))
  a=100
  print("abc")
  print(num*3)
  print(num+"5")
  return a-num

ret_val = calculator("50")
print(ret_val)
print(type(ret_val))

#here we are passing 50 as a string

Entered Number :50
abc
505050
505

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [21]:
def  calculator (num):
  print("Entered Number :{}" .format(num))
  a=100
  print("abc")
  print(num*3)
  print(num+"5")
  return a-num

ret_val = calculator() #we are not giving any argument
print(ret_val)
print(type(ret_val))

TypeError: calculator() missing 1 required positional argument: 'num'

In [42]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information("Pavani",25,"Senior Data Analyst")
print(ret_val)
print(type(ret_val))

#type none bcz we havnt given any return value by default it  returns non type

 name : Pavani
 age : 25
 profession : Senior Data Analyst
None
<class 'NoneType'>

In [43]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information("Pavani","Senior Data Analyst")
print(ret_val)
print(type(ret_val))
#im not passing one argument it will throw an error
#TypeError: information() missing 1 required positional argument: 'profession'
#here its taking name as 25 age as sr data analyst thats why its showing profession is no passed

TypeError: information() missing 1 required positional argument: 'profession'

In [44]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information("Pavani",[10,20,30,40],"Senior Data Analyst")
print(ret_val)
print(type(ret_val))

 name : Pavani
 age : [10, 20, 30, 40]
 profession : Senior Data Analyst
None
<class 'NoneType'>

#**To pass any number of arguments , i.e  number of arguments is unknown**

***s**  
* *args or * name  etc means any number of positional arguments
* give output type as -- tuple

In [28]:
def string_sum(*s):
  #*s, which allows it to accept a variable number of arguments
   #*s syntax turns the inputs into a tuple. even we given in any format it will converts into  class type tuple
  print(s)
  print(type(s))

string_sum("a","b","c")

('a', 'b', 'c')
<class 'tuple'>

In [29]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum["a","b","c"]
   #*s syntax turns the inputs into a tuple.

TypeError: 'function' object is not subscriptable

In [31]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum("a")

('a',)
<class 'tuple'>

In [32]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum()

()
<class 'tuple'>

In [35]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum(' ')

(' ',)
<class 'tuple'>

In [37]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum('')

('',)
<class 'tuple'>

In [39]:
def string_sum(*s):
  print(s)
  print(type(s))

string_sum("a",1,2,5.6,'l',[1,2,3])

('a', 1, 2, 5.6, 'l', [1, 2, 3])
<class 'tuple'>

#**Keyword Arguments**

In [45]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information(name="Pavani" , age=25 ,profession= "Senior Data Analyst")
print(ret_val)
print(type(ret_val))

 name : Pavani
 age : 25
 profession : Senior Data Analyst
None
<class 'NoneType'>

In [46]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information(age=25 ,profession= "Senior Data Analyst",name="Pavani" )
#even though we gave in diff index it prints crct values bcz we are passinf keywordarguments
print(ret_val)
print(type(ret_val))

 name : Pavani
 age : 25
 profession : Senior Data Analyst
None
<class 'NoneType'>

In [47]:
def  information(name,age,profession):

  print(" name :", name )
  print(" age :", age )
  print(" profession :", profession )

ret_val = information(name_2=25 ,profession= "Senior Data Analyst",name="Pavani" )
#if we give wrong name that is not passsed in func it will give error
print(ret_val)
print(type(ret_val))

TypeError: information() got an unexpected keyword argument 'name_2'

#**we dont know how many keyword arguments were there , i.e keyword arguments is unknown**

****k**
* **args means we can pass any number of keyword arguments
* give output type as -- dict

In [49]:
def  information(**k):
  print(k)
  print(type(k))

information(age=25 ,profession= "Senior Data Analyst",name="Pavani" )

{'age': 25, 'profession': 'Senior Data Analyst', 'name': 'Pavani'}
<class 'dict'>

In [50]:
def  information(**k):
  print(k)
  print(type(k))

information(age=25 ,profession= "Senior Data Analyst",name="Pavani",technical_skills=["SQL" , "Pyhton" ," Power BI" ," Git"] )

{'age': 25, 'profession': 'Senior Data Analyst', 'name': 'Pavani', 'technical_skills': ['SQL', 'Pyhton', ' Power BI', ' Git']}
<class 'dict'>

In [51]:
def  information(**k):
  print(k)
  print(type(k))

information(25 , "Senior Data Analyst","Pavani",["SQL" , "Pyhton" ," Power BI" ," Git"] )

TypeError: information() takes 0 positional arguments but 4 were given

#**Default parameter value**

In [54]:
def info(country):
  print("I'm from : ", country)

info()

TypeError: info() missing 1 required positional argument: 'country'

In [58]:
def info(country="India"): # here we are giving and it will take
  print("I'm from : ", country)

print(info())
print(info("Russia"))

I'm from :  India
None
I'm from :  Russia
None

In [64]:
def info(country="India"): # here we are giving and it will take
  print("I'm from : ", country)
  return "hello"
print(info())
print(info("Russia"))

I'm from :  India
hello
I'm from :  Russia
hello

In [59]:
def info(country="India"):
  print("I'm from : ", country)

print(info("Russia"))

I'm from :  Russia
None

In [65]:
def info(country="India"):
  print("I'm from : ", country)
  return "hello"
print(info("Russia"))

I'm from :  Russia
hello

In [63]:
def info(country="India",name):
  print("I'm {} and I'm from {}",country,name)

print(info("Russia","Pavani"))

SyntaxError: non-default argument follows default argument (<ipython-input-63-2ee0f742f61b>, line 1)

In [69]:
def info(name,country="India"):
  #always default arguments should come last , non default arguments should come 1st
  print("I'm ",name,  "and I'm from ",country)

print(info("Pavani","Russia")) #india will be printed watever we have given in function call it will be print as final output

I'm  Pavani and I'm from  Russia
None

In [70]:
#above can also write as in this format
def info(name,country="India"):
  print("I'm {} and I'm from {}".format(name, country))

print(info("Pavani","Russia"))

I'm Pavani and I'm from Russia
None

In [71]:
def info(name="maira",country="India"):
  print("I'm {} and I'm from {}".format(name, country))

print(info("Pavani","Russia"))

I'm Pavani and I'm from Russia
None

In [73]:
def info(name="maira",country="India"):
  print("I'm {} and I'm from {}".format(name, country))

print(info()) #wen we dnt give anything it takes default values

I'm maira and I'm from India
None

In [72]:
def info(name="maira",country="India"):
  print("I'm {} and I'm from {}".format(name, country))

print(info("Russia","Pavani"))#here its printing russia as name so give in that order

I'm Russia and I'm from Pavani
None

**pass statements**

In [78]:
def sample_pass_func(*s):
  pass
#suppose we want to call a function in future we can use pass it wont throw an error
sample_pass_func()

# **Positional -Only Arguments**

In [80]:
def sample_func(a):
  print(a)

sample_func(3)

3

In [85]:
#we can also write by passing def arguments
def sample_func(a=3):
 print(a)
sample_func()

3

**suppose we want everthing to be positional argument**

**we need to add "  ,/  " after the positional arguments to indicate the function takes only positional arguments**

In [87]:
def samplef (a,/):
  print(a)
samplef(10)

10

In [88]:
def samplef (a,/):
  print(a)
samplef(10,3)

TypeError: samplef() takes 1 positional argument but 2 were given

In [89]:
def samplef (a,/):
  print(a)
samplef(a=10) #here we are passing keyword argument thats why error cuz "  ,/ " will accept only positional arguments

TypeError: samplef() got some positional-only arguments passed as keyword arguments: 'a'

#**Keyword only arguments**

**we need to add "  *,  " before the  arguments to indicate the function takes only keyword arguments**

In [90]:
def samplefunc(*,x):
  print(x)
samplefunc(4)

TypeError: samplefunc() takes 0 positional arguments but 1 was given

In [92]:
def samplefunc(*,x):
  print(x)
samplefunc(x=4)

#similar to
def samplefunc(x=4):
  print(x)
samplefunc()

4
4

# **combining positional only arguments and keyword only arguments**

In [94]:
def poskeyf(a,b,/,*,c,d):
  #here a and b are positional arguments and c and d are keyword arguments
  #a and b cannot be passed as jeyword and c and d cannot be passed as positional arguments
  print("values of a{} b{} c{} d{}".format(a,b,c,d))
poskeyf(10,5,12,14)

TypeError: poskeyf() takes 2 positional arguments but 4 were given

In [95]:
def poskeyf(a,b,/,*,c,d):
  print("values of a{} b{} c{} d{}".format(a,b,c,d))
poskeyf(10,5)

TypeError: poskeyf() missing 2 required keyword-only arguments: 'c' and 'd'

In [96]:
def poskeyf(a,b,/,*,c,d):
  print("values of a{} b{} c{} d{}".format(a,b,c,d))
poskeyf(10,5,c=12,d=10)

values of a10 b5 c12 d10

In [97]:
def poskeyf(a,b,/,*,c,d):
  print("values of a{} b{} c{} d{}".format(a,b,c,d))
poskeyf(10,5,d=10,c=12)

values of a10 b5 c12 d10

In [98]:
def poskeyf(a,b,/,*,c,d):
  print("values of a{} b{} c{} d{}".format(a,b,c,d))
poskeyf(c=12,d=10,5,10)

SyntaxError: positional argument follows keyword argument (<ipython-input-98-beba10a36a40>, line 3)

In [ ]:
#any number of positiional and keyword arguments

In [105]:
def func(*s, **k):
  print(s)
  print(type(s))
  print(k)
  print(type(k))

In [106]:
func(1.5,1,True,[124],(1,2,3),name="Pavani",age=25)

(1.5, 1, True, [124], (1, 2, 3))
<class 'tuple'>
{'name': 'Pavani', 'age': 25}
<class 'dict'>

In [109]:
def posKeyFunc(a,b,c,d):
  print("Values of a {} b {} c {} d {}".format(a,b,c,d))

posKeyFunc(10,5,  d=12,c=10)

Values of a 10 b 5 c 10 d 12

#**docstring**  -- """  description """

In [121]:
def pythonOperators(a,b):
  """
  Description: This function prints basic python operations like addtion, sub, mul and remainder operators
  Inputs: a, b
  Returns: None
  """

  print("Addition: {}".format(a+b))
  print("Sub: {}".format(a-b))
  print("Mul: {}".format(a*b))
  print("Remainder: {}".format(a%b))
  print("Div: {}".format(a/b))

pythonOperators(10,2)

Addition: 12
Sub: 8
Mul: 20
Remainder: 0
Div: 5.0

In [124]:
pythonOperators

In [125]:
def pythonOperators(a,b):
  """
  Description: This function prints basic python operations like addtion, sub, mul and remainder operators
  Inputs: a, b
  Returns: None
  """

  print("Addition: {}".format(a+b))
  print("Sub: {}".format(a-b))
  print("Mul: {}".format(a*b))
  print("Remainder: {}".format(a%b))
  print("Div: {}".format(a/b))
  """
  print statements gets printed
  """
pythonOperators(10,2)

Addition: 12
Sub: 8
Mul: 20
Remainder: 0
Div: 5.0

In [126]:
pythonOperators
#docstring acts as comments inside func call and it will not print that so we have to write at starting only

#**Passing Variables to the function**

In [131]:
def func(a):
  print("Inside function")
  print(a)
  print(type(a))
  print(id(a))
  print("Returning from function")
  return a

b= 100
print(b)
print(id(b))
c= func(b)
print ("inside call")
print(c)
print(id(c))

100
134494294904144
Inside function
100
<class 'int'>
134494294904144
Returning from function
inside call
100
134494294904144

In [132]:
def myFunc(a): # a = b
  print("Inside Function")
  print("a: {}, id: {}".format(a,id(a)))
  a += 120
  print("a: {}, id: {}".format(a,id(a)))
  print("Returning From Function")
  return a

b = 100
print("b: {}, id: {}".format(b,id(b)))
c = myFunc(b) # c = a
print("c: {}, id: {}".format(c,id(c)))
print("b: {}, id: {}".format(b,id(b)))
#here b values doesnt changed coz Integers are immutable in Python: When a += 120 is executed, a new integer 220 is created, and a now refers to this new integer. The original integer 100 remains unchanged.
# The variable b still holds the value 100 after the function call because the integer b is passed by value, and modifying a does not affect b.

b: 100, id: 134494294904144
Inside Function
a: 100, id: 134494294904144
a: 220, id: 134494294907984
Returning From Function
c: 220, id: 134494294907984
b: 100, id: 134494294904144

In [133]:
def myFunc(a): # a = b
  print("Inside Function")
  print("a: {}, id: {}".format(a,id(a)))
  a[2] = 2000000
  print("a: {}, id: {}".format(a,id(a)))
  print("Returning From Function")
  return a

b = [10,20,30,40]
print("b: {}, id: {}".format(b,id(b)))
c = myFunc(b) # c = a
print("c: {}, id: {}".format(c,id(c)))
print("b: {}, id: {}".format(b,id(b)))
#here b changed bcz Since lists are mutable, any modification inside the function affects the original list (b), and the memory address (id) of the list remains unchanged throughout.

b: [10, 20, 30, 40], id: 134493009437248
Inside Function
a: [10, 20, 30, 40], id: 134493009437248
a: [10, 20, 2000000, 40], id: 134493009437248
Returning From Function
c: [10, 20, 2000000, 40], id: 134493009437248
b: [10, 20, 2000000, 40], id: 134493009437248

* when we are passing  mutable variable to function any changes to the function will effect outside as well
* when we are passing  immutable variable to function any changes to the function will not effect outside as well

In [134]:
def samplefunc(a):
  print("Before variable update in function: {}".format(a))
  a = 100
  print("Inside Function: {}".format(a))

a = 200
print("Before calling function: {}".format(a))
samplefunc(a)
print("After calling function, Outside the function: {}".format(a))

Before calling function: 200
Before variable update in function: 200
Inside Function: 100
After calling function, Outside the function: 200

In [136]:
def myfun(_c):
  print("Before variable update in function: {}".format(_c))
  _c = 100
  print("Inside Function: {}".format(_c))

b = 200
print("Before calling function: {}".format(b))
myfun(b)
print("After calling function, Outside the function: {}".format(_c))
#c not defined bcz you try to print _c after calling the function. This is because the variable _c is local to the function myfun. Outside the function, _c does not exist unless it is defined in the global scope.

Before calling function: 200
Before variable update in function: 200
Inside Function: 100

NameError: name '_c' is not defined

In [137]:

def samplef(a):
  print(id(a))
  a = 2457
  print("ID Inside function: {}".format(id(a)))

a = 2457
samplef(a)
print("ID Outside function: {}".format(id(a)))
#n Python, integers are immutable, meaning when you assign a new value to a inside the function, a new reference is created, but outside the function, the original reference remains unchanged.
# Since the integer 2457 is used both inside and outside the function, Python internally reuses the same object (for efficiency), so the id() values will be the same.

134493009337328
ID Inside function: 134493009345584
ID Outside function: 134493009337328

In [138]:
a = 2457
b = 2457

print(id(a))
print(id(b))

134493009340720
134493009343600

In [140]:

def func():
  print("inside func")

  a = 248900000
  b = 248900000
  print(id(a))
  print(id(b))

func()
print("outside func")
print(id(a))
print(id(b))

inside func
134493009343888
134493009343888
outside func
134493009340720
134493009343600

In [145]:
def func(a):
  a[0] = 100  #we passed tuple and tuple doesnt support updating
  return a
b = (10,20,30) #instead if we pass list it will not throw any error
c = func(b)
print(b)
print(c)

TypeError: 'tuple' object does not support item assignment

In [147]:
def func(a):
  a[0] = 100
  return a
b = [10,20,30] #instead if we pass list it will not throw any error
c = func(b)
print(b)
print(c)

[100, 20, 30]
[100, 20, 30]

In [146]:
def func(a):
  a = list(a)
  a[0] = 100  # scope of this variable a is limited to this particular function, outside the function if you call this variable, u will get error
  return tuple(a)

b = (10,20,30)
c = func(b)
print(b)
print(c)

(10, 20, 30)
(100, 20, 30)

In [142]:
def myfunc():
  a = [1,2,3]
  b = a
  print(id(a))
  print(id(b))
  b[0] = 100
  print(b)
  print(a)

myfunc()

134493010449280
134493010449280
[100, 2, 3]
[100, 2, 3]

In [143]:
a = [1,2,3]
b = [1,2,3]
b[0]= 100

print(b)
print(a)

[100, 2, 3]
[1, 2, 3]

In [144]:
a = [1,2,3,4]
b = a

b[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]