<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/1_Variables_and_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRINT STATEMENT

In [ ]:
print("Hellom")

Hello

In [ ]:
print("hello")
print("pavani")

hello
pavani



---

# Use of - "end"

In [ ]:
print("hello",end='')
print("pavani")

hellopavani

In [ ]:
print("hello",end='\n')
print("pavani")

hello
pavani

In [ ]:
print("Hai"\n)
print("Pavani")

SyntaxError: unexpected character after line continuation character (<ipython-input-11-e3f235427874>, line 1)

In [ ]:
#\n have to give inside double quotes and
# in output it gives 1 line space between print statments
print("Hai\n")
print("Pavani")

Hai

Pavani



---

# 'sep' UseCase

In [ ]:
print("pavani""is""good")
# if we dont give any seperator in print statements it will combine all

pavaniisgood

In [ ]:
print("pavani","is","good")

pavani is good

In [ ]:
#if you dont want space add
# sep=""  at end
print("pavani","is","good",sep="")
print("pavani","is","good",sep="___")
print("pavani","is","good",sep="\n")
print("pavani","is","good",sep="*")

pavaniisgood
pavani___is___good
pavani
is
good
pavani*is*good



---

#**VARIABLES**

*   Variables are case sensitive i.e name,Name,NAME are different
*   we dont need to declare them before and also data type also

###**Rules**


*   starts wid letter or _
*   cannot start with number
*   only contain alphanumeric characters and underscore

In [ ]:
print(2+3)
id(2+3)

5

137751240360304

In [ ]:
value=5
id(value)

137751240360304

to know the address of variable we give **id()** \\
to know type of the variable we give **type()**

In [ ]:

print(id(5))
print(type(5))

137751240360304
<class 'int'>

**KEYWORDS**

In [ ]:
#. Import the module and use the function called kwlist.
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(keyword.kwlist)

35

**using semicoln**

In [ ]:
print("pavani")
print("pavani");

pavani
pavani

In [ ]:
print("hello") print("pavani")

SyntaxError: invalid syntax (<ipython-input-35-5d9c9a79abf8>, line 1)

**we have to use semicolon if we use multiple print in same line**

print("hello"); print("pavani")

**Indentation**
***all Print statements must be in same indent ***

In [ ]:
print("pavani")
    print("maira")

IndentationError: unexpected indent (<ipython-input-37-4d2a3848ac5b>, line 2)

**Space not allowed while declaring the variables**

In [ ]:
my birthday ="is on 17th july"
print("my birthday")

SyntaxError: invalid syntax (<ipython-input-38-f51f594740f6>, line 1)

In [ ]:
my_birthday ="is on 17th july"
print("my_birthday")
#if we keep "" in print after declaring variables it will print exact wat we gave in quotes so we shld give

my_birthday

In [ ]:
my_birthday ="is on 17th july"
print(my_birthday)

is on 17th july

In [ ]:
name = "pavani"
address="Ashok Nagar"
city="kurnool"
print(len(name))
print(address)

6
Ashok Nagar

    COMMENTS

In [ ]:
# for single line comments
# """ triple quotes for Multiline comments """
# '''  multiline comments '''

In [ ]:
"""
this is multiline commands
"""
'''
these are also multi
line c
comments
'''

print("comments")

comments


---

  **DATA** **TYPES**

In [ ]:
#TEXT DT -- STRING
introduce_urself = "Hello ,This is Pavani KV"
wats_ur_age = "I'm 25 years old"

print(introduce_urself)
print(wats_ur_age)
print(type(introduce_urself))

Hello ,This is Pavani KV
I'm 25 years old
<class 'str'>

  **STRIP FUNCTION IN STRINGS**

  **lstrip(), rstrip(), strip()-both sides**
  **it removes the blank spaces**

In [ ]:
name="    Pavani"
print(name)
print(name.lstrip())

    Pavani
Pavani

In [ ]:
name="Pavani     "
print(name)
print(name.rstrip())

  Pavani
  Pavani

In [ ]:
name="     Pavani       "
print(name)
print(name.strip())

     Pavani
Pavani

  **FLOOR DIVISION -- // gives the lower value wen divides**
  **ceil -- math.ceil()  gives upper number**

In [ ]:
import math
a=9
b=5

print(a/b)
print(type(a/b))
print(a//b)
print(type(a//b))
print(math.ceil(12.3))

1.8
<class 'float'>
1
<class 'int'>
13

**ROUND()**

In [ ]:
a=10.38832338
round(a,3)

10.388

**COMPLEX**

In [ ]:
a=complex(12)
print(a)

(12+0j)

In [ ]:
complex(12)
print(complex(12))
complex(12,3)
print(complex(12,3))

(12+0j)
(12+3j)



---

  **LIST -- [ ]**

In [ ]:
mylist = [1,2,19.6,9,2.5,"sathyam","vijaya","pavani","pavan"]
type(mylist)

list

In [ ]:
mylist = [1,7,19.6,2.5,"sathyam","vijaya","pavani","pavan"]
print(mylist[0])
print(mylist[1])
print(mylist[-1])
print(mylist[-2])
print(len(mylist))

1
7
pavan
pavani
8

In [ ]:
mylist = [1,7,19.6,2.5,"sathyam","vijaya","pavani","pavan"]
mylist[0]="maira"
print(mylist)
#we can update the existing values in  Lists

['maira', 7, 19.6, 2.5, 'sathyam', 'vijaya', 'pavani', 'pavan']

In [ ]:
mypetname ="maira"
mypetname[0] = "p"
#here we can change value in list form not for individual string

TypeError: 'str' object does not support item assignment

In [ ]:
mypetname ="maira"
print(mypetname[0])
print(mypetname[1])
print(mypetname[2])
print(mypetname[-4])
print(mypetname[-3])
print(mypetname[-2])

m
a
i
a
i
r

  **TUPLE -- ()**

In [ ]:
mylist = (1,2,19.6,9,2.5,"sathyam","vijaya","pavani","pavan")
type(mylist)

tuple

In [ ]:
mylist = (1,2.5,"sathyam","vijaya","pavani","pavan")
print(mylist[0])
print(mylist[1])
print(mylist[-1])
print(mylist[-4])
print(len(mylist))

1
2.5
pavan
sathyam
6

In [ ]:
mylist = (1,7,19.6,2.5,"sathyam","vijaya","pavani","pavan")
mylist[0]="maira"
print(mylist)

#we cannot update the existing  values in  tuple like we do in lists

TypeError: 'tuple' object does not support item assignment