<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/22_Lambda%2C_Map_%2C_Filter_Functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lambda Functions**

In [ ]:
#squaring the number #normal fuctiion
def normalfunc(x):
  return x**2
normalfunc(12)

144

In [ ]:
# syntax lamda function

lambda arguments: expression

#or
def function_name(x):
  return  x**2

#in lamda functions
lamba x : x**2

In [ ]:
type(normalfunc)

function

In [ ]:
lambda x : x**2

In [ ]:
lambda x : x**2(10) #we have to assign

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-12-2f7bf63109c0>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  lambda x : x**2(10)

In [ ]:
a = lambda x : x**2
type(a)

function

In [ ]:
a = lambda x : x**2
a(10)

100

* **in regular function if we dont give return function it will give none**
* **in lambda function if we dont give any  it will return function object**

In [ ]:
def normalfunc(x):
  return x**2
a = normalfunc(12)
print(a)
print(type(a))

print("---------------------------")

b = lambda x : x**2
print(b)
print(type(b))

144
<class 'int'>
---------------------------
<function <lambda> at 0x7e53f8382dd0>
<class 'function'>

In [ ]:
#lambda functions can take any number of arguments

#passing two arguments
adding = lambda a,b : a+b
subtracting = lambda a,b : a-b

#passsing 3 arguments
adding4num = lambda a,b,c,d : a+b+c+d

In [ ]:
#passing two arguments
adding = lambda a,b : a+b
adding(10) #how many we passed as arguments we have to pass that many

TypeError: <lambda>() missing 1 required positional argument: 'b'

In [ ]:
#passing two arguments
adding = lambda a,b : a+b
adding(10,20)

30

In [ ]:
subtracting = lambda a,b : a-b
subtracting(20,10)

10

In [ ]:
adding4num = lambda a,b,c,d : a+b+c+d
adding4num(1,2,3,4)

10

In [ ]:
#normal functions
def sum1(a1):
  return a1+10
def sum2(a2):
  return sum1(a2)
sum2(10)

20

In [8]:
def f():
  print(10)
x =10

a=f()
print(a)
print(x)

10
None
10

In [9]:
f2=lambda : x
type(f2)

function

In [10]:
f3 = lambda : print(x)

type(f3)

function

In [12]:
b = f2()
print(b)
print(type(b))

10
<class 'int'>

In [11]:
c = f3()

print(c)
print(type(c))

10
None
<class 'NoneType'>

In [13]:
lf1 = lambda : 10
#if we dont give any print statements lambda will give default that 10 value

lf2 = lambda : print(10)

In [15]:
print(type(lf1))
print(type(lf2))

<class 'function'>
<class 'function'>

In [14]:
lf1 = lambda : 10

lf2 = lambda : print(10)

#similar to

def f1(): #lf1
  return 10
def f2():  #lf2
  print(10)

In [16]:
a = lf1()

print(a)
print(type(a))

10
<class 'int'>

In [17]:
b = lf2()

print(b)
print(type(b))

10
None
<class 'NoneType'>

In [21]:
def myFunc(n):
  return lambda a: a*n

myLambda1 = myFunc(2)

In [23]:
myLambda1()

TypeError: myFunc.<locals>.<lambda>() missing 1 required positional argument: 'a'

In [25]:
myLambda1(10) # a = a*n ==> 10*2

20

In [26]:
myLambda2 = myFunc(3)
myLambda2(20)

60

In [27]:
myLambda2 = myFunc(3)
myLambda2([12,20,30])

[12, 20, 30, 12, 20, 30, 12, 20, 30]

In [31]:
a = lambda x: lambda y: x+y
a(10)

In [32]:
a = lambda x: lambda y: x+y
output = a(10)
output(5)

15

In [33]:
a(10)(5)

15

#  **Filter**

**Syntax** - **filter(function , iterable)**

In [37]:
scores = [50, 45, 10, 76, 100, 12, 5]

# create a list which takes the score greater than 40
def func(x):
  if x>40:
    return True
  else:
    return False

filtered_list = list(filter(func, scores))

print(filtered_list)

[50, 45, 76, 100]

In [38]:
#using lambda function
numbers = [12,42,3,75,124,29,71,1,2,47,10001]

evenNumbers = list(filter(lambda x: x%2==0, numbers))
oddNumbers = list(filter(lambda x: x%2==1, numbers))

print(evenNumbers)
print(oddNumbers)

[12, 42, 124, 2]
[3, 75, 29, 71, 1, 47, 10001]

In [42]:
d = {'Sathyam':1,'Pavan':3,'Vijaya':2,'Pavani':4}
a = sorted(d.items(), key=lambda x: x[1])
print(a)

[('Sathyam', 1), ('Vijaya', 2), ('Pavan', 3), ('Pavani', 4)]

In [43]:
def isPrime(n):
  if n<=1:
    return False

  for i in range(2,n):
    if n%i == 0:
      return False

  return True

numbers = [7,17,29,144,142,2001,199,176, 187]

primeNumbers = list(filter(isPrime, numbers))

print(primeNumbers)

[7, 17, 29, 199]

In [47]:

def myFun(a):
  if a>18:
    return False

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(myFun, numbers))

print(filtered_numbers)

[]

In [44]:

def myFun(a):
  if a>18:
    return False
  else:
    return a+12

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(myFun, numbers))

print(filtered_numbers)

[1, 2, 9, 12, 18]

In [45]:
def myFun(a):
  if a>18:
    return False
  else:
    return a-12

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(myFun, numbers))

print(filtered_numbers)

[1, 2, 9, 18]

In [46]:
bool(-2)

True

**MAP Function**

In [48]:
def myFun(a):
  if a>18:
    return False

numbers = [1,2,9,12,18,20,25,40,50]

map_numbers = list(map(myFun, numbers))

print(map_numbers)

[None, None, None, None, None, False, False, False, False]

In [49]:
scores = [55, 75, 45, 38, 58, 67, 81, 92]

map_scores = map(lambda x: x+7, scores)

print(map_scores)

<map object at 0x7dd339702590>

In [50]:

for value in map_scores:
  print(value)

62
82
52
45
65
74
88
99

In [51]:


scores = [55, 75, 45, 38, 58, 67, 81, 92]

map_scores = list(map(lambda x: x+7, scores))

print(map_scores)

[62, 82, 52, 45, 65, 74, 88, 99]

In [52]:
scores = [55, 75, 45, 38, 58, 67, 81, 92]
# add 7 if score is >70 else leave as it is

map_scores = list(map(lambda x: x+7 if x>70 else x, scores))

print(map_scores)

[55, 82, 45, 38, 58, 67, 88, 99]

In [53]:
def statement(msg, times = 1):
  print(msg* times)

statement("Hello")
statement("World", 5)

Hello
WorldWorldWorldWorldWorld

In [54]:
def a(b):
  print("id of b before adding 5 : ", id(b))
  b.append(5)
  print("id of b after adding 5 : ", id(b))


c = [1,2,3,4]
print("id c : -->", id(c))
a(c)
print(len(c))

id c : --> 138346154619328
id of b before adding 5 :  138346154619328
id of b after adding 5 :  138346154619328
5

In [55]:

def foo(i, x=[]):
  x.append(i)
  return x

for i in range(3):
  print(foo(i))

[0]
[0, 1]
[0, 1, 2]

In [56]:
l = [1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [58]:
l = []
print(l)
for i in range(3):
  l.append(l.append(i))
  print(l)

print(l)

[]
[0, None]
[0, None, 1, None]
[0, None, 1, None, 2, None]
[0, None, 1, None, 2, None]

In [59]:
def foo(i, x= []):
  x.append(i)
  return x

for i in range(3):
  print(foo(i))

[0]
[0, 1]
[0, 1, 2]