<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/23_Modules_Types_of_errors_Exception_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Python - In high levell its interpreted
--interpreted or both Compiled & Interpreted? - both
* Modules in Python
* Main Function in Python
* Types of Errors in Python
* Exception Handling

In [ ]:
a = 100
b = 10

c = a+b

print(c)

a1 = 1000
b1 = 2000

1c = a1+b1 #name shouldnt start with numbers

print(1c)

SyntaxError: invalid decimal literal (<ipython-input-4-9b28c316d923>, line 11)

# **Modules in Python**

- Modules can be  used by using a import statement
- renaming  a module  we use 'as' keyword

In [11]:
import calculator as calc
# import numpy as np
# import pandas as pd

In [12]:
a = 100
b = 10

In [13]:
calc.addPy(a,b)

110

In [14]:

calculator.subPy(a,b)

90

In [20]:
from calculator import mulPy as mPy

In [18]:
mPy(12,7)

84

In [19]:
import mulPy from calculator

SyntaxError: invalid syntax (<ipython-input-19-03d2a69f01d3>, line 1)

In [21]:
dir(calculator)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'addPy',
 'divPy',
 'mulPy',
 'subPy']

In [22]:
from calculator import *

In [23]:
subPy(a,b)

90

In [24]:
# inbuilt module in python

import math

In [25]:
math.factorial(5)

120

In [29]:
math.pi

3.141592653589793

In [30]:
math.sqrt(49)

7.0

In [31]:
import random

In [32]:
random.randint(0,5)

3

In [37]:
random.randint(0,5)

0

In [33]:
import datetime
import time
#some other modules

# **Types of Errors**

In [38]:
# Syntax Error

a = 100
b = 10

print(a+b)

print(a+b

SyntaxError: incomplete input (<ipython-input-38-f0910af3a068>, line 8)

In [39]:
# Syntax Error

a = 100
b = 10

print(a+b)

1a = 200
print(1a)

SyntaxError: invalid decimal literal (<ipython-input-39-6633f1e460c3>, line 8)

In [40]:
while True
   print(a+b)
   break

SyntaxError: expected ':' (<ipython-input-40-0c01f70e9cb0>, line 1)

In [42]:
# Indentation Error

a = 12
print(a)
if a>10:
    print("a is {}".format(a))
  print("a value is {}".format(a))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [43]:
a = 5
b = "3"

print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
s = "5"

int(s)

5

In [45]:
s = "five"
int(s)

ValueError: invalid literal for int() with base 10: 'five'

In [46]:
l = [10,20,30,40,50]

l.index(100)

ValueError: 100 is not in list

In [47]:
a,b = (1,2)

print(a)
print(b)

1
2

In [48]:
a, b = 1,2,3,4
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [49]:
a = 5/2

print(a)

b = 5/0

print(b)

2.5

ZeroDivisionError: division by zero

In [50]:
# Name Error

gate = da+cs

NameError: name 'da' is not defined

In [52]:
s = "Pavani"

s.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [53]:
s[::-1]

'inavaP'

In [55]:
l = ["P", "a", "v", "a", "i"]
l.reverse()
l

['i', 'a', 'v', 'a', 'P']

In [56]:
x = [1,2,3,4,5]

x[7]

IndexError: list index out of range

# **Exception Handling**

In [57]:
a = 100
b = 10

print(a+b)

c = a/(b-b)

d = a//b
e = a*b

print(d)
print(e)

110

ZeroDivisionError: division by zero

In [58]:
a = int(input("Enter a number a:"))
b = int(input("Enter a number b: "))
print("Division: ", a/b)
print("addition: ",a+b)
print("multiplication: ",a*b)
print("subtraction: ",a-b)

Enter a number a:10
Enter a number b: 20
Division:  0.5
addition:  30
multiplication:  200
subtraction:  -10

In [59]:
a = int(input("Enter a number a:"))
b = int(input("Enter a number b: "))
print("Division: ", a/b)
print("addition: ",a+b)
print("multiplication: ",a*b)
print("subtraction: ",a-b)

Enter a number a:10
Enter a number b: 0

ZeroDivisionError: division by zero

- try:

- except Exception as  e

In [60]:
# try-except
#even if we get error we dont want to exit there itself to continue next code we use exception handling try-except

try:
  a = int(input("Enter a number a:"))
  b = int(input("Enter a number b: "))
  print("Division: ", a/b)
except Exception as e:
  print("Exception occured: {}".format(e))

print("addition: ",a+b)
print("multiplication: ",a*b)
print("subtraction: ",a-b)

Enter a number a:10
Enter a number b: 0
Exception occured: division by zero
addition:  10
multiplication:  0
subtraction:  10

In [61]:

try:
  #if you think there might be an error in future we write in try block
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)
except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))

Enter the number : 50
5
10.0

In [65]:
try:
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)
except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))

Enter the number : 70
Value not found in list

In [66]:
try:
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)

except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))
finally:
  print("Try-Except block is over")

Enter the number : 50
5
10.0
Try-Except block is over

In [67]:
try:
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)

except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))
finally:
  print("Try-Except block is over")

Enter the number : 40
4
10.0
Try-Except block is over

In [69]:

try:
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)

except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))
else:
  print("Error Free Try Block")
finally:
  print("Try-Except block is over")

Enter the number : 50
5
10.0
Error Free Try Block
Try-Except block is over

In [70]:

try:
  l = [100, 10,20,30,40,50]
  number = int(input("Enter the number : "))
  i = l.index(number)
  print(i)
  print(number/i)

except ZeroDivisionError:
  print("Zero Division Error Occurs")
except ValueError:
  print("Value not found in list")
except Exception as e:
  print("Unknown error occurs : {}".format(e))
else:
  print("Error Free Try Block")
finally:
  print("Try-Except block is over")

Enter the number : 100
0
Zero Division Error Occurs
Try-Except block is over