<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/2_Range%2CSet%2Cfrozenset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Range**


* range(start,stop,step)
*  start and step are optional
* by deault start= 0, step = 1
* range(5) ~ range(0,5) -- we wont take last value in range  i.e 5

In [ ]:
range(2)

range(0, 2)

In [ ]:
list(range(2))

[0, 1]

In [ ]:
print(list(range(5)))
print(list(range(10)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

**  suppose if we give step value  to 3 it will calculate 2 numbers **

In [ ]:
print(list(range(5,10)))
print(list(range(5,10,1)))
print(list(range(5,10,2)))
print(list(range(5,10,3)))
print(list(range(5,10,4)))

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9]
[5, 8]
[5, 9]

In [ ]:
range(-5)

range(0, -5)

In [ ]:
print(list(range(-5)))

[]

In [ ]:
range(-5,0) #we have to write like this in negative range if we want

range(-5, 0)

In [ ]:
list(range(-5,0)) #same last number will not be  counted

[-5, -4, -3, -2, -1]

In [ ]:
print(list(range(-10,0)))
print(list(range(-10,1,1)))
print(list(range(-10,1,-2)))
#you start at -10 and the step is negative, the range will try to move backwards, but the stop value (1) is greater than start (-10). So, no numbers can satisfy this condition, and hence, it returns an empty list.
print(list(range(-10,1,-3)))
print(list(range(-10,1,-4)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
[]
[]
[]

In [ ]:
print(list(range(-10,0)))
print(list(range(0,-10,-1)))
print(list(range(0,-10,-2)))
print(list(range(0,-10,-3)))
print(list(range(0,-10,-4)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[0, -2, -4, -6, -8]
[0, -3, -6, -9]
[0, -4, -8]

## **SETS**
* sets are unirdered unindexed and unchangeable
* no duplicate values
* represented as {}
* set1 ={1,2,3,4,5} similar to  set((1,2,3,4,5))
* we can have float int string values

In [ ]:
set1 = {1,0,2.6,"pavani"}
print(set1)

{0, 1, 2.6, 'pavani'}

* set is unordered and output wont come in same order so indexing is not applicable
* u can add/remove new element to sets but we cant change/update elements in sets bcz we dont know the index exact to remove or add at particular index
* unordered

In [ ]:
set1 = {1,0,2.6,2.6,"pavani"}
print(set1)
#set doesn't contain duplicate values

{0, 1, 2.6, 'pavani'}

In [ ]:
set1 = {1,0,2.6,2.6,"pavani"}
set1.add("maira")
print(set1)
#wen we add it will add at end

{0, 1, 2.6, 'pavani', 'maira'}

In [ ]:
set1[2]
# no index is applicable

TypeError: 'set' object is not subscriptable

In [ ]:
set1[-1]

TypeError: 'set' object is not subscriptable

In [ ]:
set1 = {1,2.6,2.6,"pavani"}
set1.add(0)
print(set1)

{0, 1, 2.6, 'pavani'}

In [ ]:
list1 =[1,2,"pavani"]
list1[1] ="maira"
print(list1)
#here 1st index 2 is replaced with maira

[1, 'maira', 'pavani']

In [ ]:
set1 ={1,2,"pavani"}
set1[1] ="maira"
print(set1)

TypeError: 'set' object does not support item assignment

* we cannot add list[] to set
* we cannot have a set inside a set
* we can add tuple() to set
* we cannot add set inside set also

In [ ]:
set1 ={1,2,"paav"}
set1.add([3,4])
print(set1)

TypeError: unhashable type: 'list'

In [ ]:
set1 ={1,2,"paav"}
set1.add((3,4))
print(set1)
set1.add({5,6})
print(set1)

{1, 2, 'paav', (3, 4)}

TypeError: unhashable type: 'set'

**FROZEN SETS  frozenset((elements))**
* set which is unordered duplicates not allowed
* set vs foreign set
* mutable | immutable
* we cannot add/remove and element new  element to frozen set
*italicized text*

In [ ]:
fset1 = frozenset((1,2,4,"pavani","maira"))
print(fset1)

TypeError: frozenset expected at most 1 argument, got 5