<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/4_TypeCasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TYPE CASTING**

In [ ]:
#implicit conversion
a=4
print(type(a))
b=3.0
print(type(b))
c = a+b
print(c)
print(type(a+b))

<class 'int'>
<class 'float'>
7.0
<class 'float'>

In [ ]:
a=4
print(type(a))
b=3.0
print(type(b))

print(a+b)
print(type(a+b))
#if we want change datatype float to int we use int()
#explicit conversion
c=int(a+b)
print(c)
print(type(c))

<class 'int'>
<class 'float'>
7.0
<class 'float'>
7
<class 'int'>

**int()**
* we can take either normal float /string as argument and returns int

In [ ]:
a = 8.5
print(type(a))
cast1 = int(a)
print(cast1)
print(type(cast1))

<class 'float'>
8
<class 'int'>

In [ ]:
a="abc"
print(type(a))
c1 = int(a)
print(c1)
print(type(c1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:

#valid
a=7.5
print(a)
print(type(a))
c1 = int(a)
print(c1)
print(type(c1))

#invalid
a="7.5"
print(a)
print(type(a))
c1 = int(a)
print(c1)
print(type(c1))
#here 7.5 acts as a string not float so thats why its showing error

7.5
<class 'float'>
7
<class 'int'>
7.5
<class 'str'>

ValueError: invalid literal for int() with base 10: '7.5'

**float()**

In [ ]:
a=7
print(a)
print(type(a))
c1 = float(a)
print(c1)
print(type(c1))
c=10.2
print(c)
print(type(c))
c2=float(c)
print(c2)
print(type(c2))


b="7.5"
print(b)
print(type(b))
c1 = int(b)
print(c1)
print(type(c1))

7
<class 'int'>
7.0
<class 'float'>
10.2
<class 'float'>
10.2
<class 'float'>
7.5
<class 'str'>

ValueError: invalid literal for int() with base 10: '7.5'

**str()**

In [ ]:
a = 10
print(a)
print(type(a))

c=str(a)
print(c)
print(type(c))

10
<class 'int'>
10
<class 'str'>

In [ ]:
a = 10.2
print(a)
print(type(a))

c=str(a)
print(c)
print(type(c))

10.2
<class 'float'>
10.2
<class 'str'>

In [ ]:
a = "abc"
print(a)
print(type(a))

c=str(a)
print(c)
print(type(c))

abc
<class 'str'>
abc
<class 'str'>

In [ ]:
a = "10"
print(a)
print(type(a))

c=str(a)
print(c)
print(type(c))

10
<class 'str'>
10
<class 'str'>