<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/5_Arithmetic_%2CComparision%2CLogical%2CMembership_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Operators

In [ ]:
A = 9
B = 5
print("Addition A+B =", A+B)
print("Subtraction A-B =", A-B)
print("Multiplication A*B =", A*B)
print("Division A/B =", A/B)
print("Modulo A%B =", A%B) #gives remainder
print("Floor A//B =", A//B) # less number wen we get positive
print("Floor -A//B =", -A//B) # greater number we we get negative 1.8 ~ -1 no -2 we take bcz -1 > -2 in floor div we take lesser one so -2
print("Exponent A**B =", A**B)

Addition A+B = 14
Subtraction A-B = 4
Multiplication A*B = 45
Division A/B = 1.8
Modulo A%B = 4
Floor A//B = 1
Floor -A//B = -2
Exponent A**B = 59049

In [ ]:
print(10//3)
print(-10//3)

3
-4

Modulo

In [ ]:
12.5%7.5

5.0

In [ ]:
5%2

1

In [ ]:
5.6%2.0

1.5999999999999996

#**Comparision Operators**  **== | != | >= | <= | > | <**

In [ ]:
A = 9
B = 5
print("A==B =", A==B)
print("A!=B =", A!=B)
print("A>=B =", A>=B)
print("A<=B =", A<=B)
print("A>B =", A>B)
print("A<B =", A<B)

A==B = False
A!=B = True
A>=B = True
A<=B = False
A>B = True
A<B = False

In [ ]:
print(0==0.0)
print(0==0)
print(1==1.0)
print(1==True)
print(0==False)
print(0.0==False)
print(1.0==True)

#0 =false , 1= true

True
True
True
True
True
True
True

# **LOGICAL OPERATORS**  - AND | OR | NOT

In [ ]:
x = 2
y = 4
print(x>1 and y<12)
print(x>4 and y<10)
print(x>6 and y<10)
print(x>6 and y<12)
print(x>4 or y<12)
print(x>4 or y<10)
print(x>6 or y<10)
print(x>6 or y<12)

True
False
False
False
True
True
True
True

In [ ]:
a = 1
b=3
c=5
#Since all are truthy, the last value (c = 5) is returned.
print(a and b and c)

#a and b truthy so end value 3 will be taken
#3 or c is evaluated. Since 3 is truthy, it is returned.
print(a and b or c)

#a is 1 (truthy), so b and c are not evaluated.
#The first truthy value (1) is returned.

print(a or b or c)

#b and c is evaluated first. Since both are truthy, it returns c (which is 5).
#Then, a or 5 is evaluated. Since a is 1 (truthy), it is returned.
print(a or b and c)

#or comes 1st that value gets printed if and comes end truthy value will get printed

5
3
1
1

In [ ]:
a = 0
b = 0
c = 12

print(a or b or c)
# a is 0 (falsy), so it moves to b.
# b is 0 (falsy), so it moves to c.
# c is 12 (truthy), so 12 is returned.
print(not(a or b or c))

12
False

In [ ]:

a = -1
b = -2
c = -3
#if everything is truthy values so in or 1st truth value will be output
# a is -1, which is truthy, so the evaluation stops here.
# The result is -1.
print(a or b or c)

##if everything is truthy values so in and last truth value will be output
# a is -1 (truthy), so it moves to b.
# b is -2 (truthy), so it moves to c.
# c is -3 (truthy), and since it's the last value, c is returned.
print(a and b and c)

-1
-3

In [ ]:
a = 1
b=3
c=0
#why 0 output not 3 bcz
#The and operator returns the first falsy value it encounters, or the last value if all are truthy.
print(a and b and c)

#This expression is a combination of and and or. According to Python's operator precedence, and is evaluated before or.and The or operator returns the first truthy value it encounters.
print(a and b or c)

#The or operator returns the first truthy value it encounters.
print(a or b or c)

# due to operator precedence, b and c is evaluated first, followed by a or (result of b and c)
#Then, a or 0 is evaluated. Since a is 1 (truthy), it is returned.
print(a or b and c)

0
3
1
1

# MEMBERSHIP OPERATORS - in | not in

In [ ]:
name = ["p","a","v","a","n","i"]
print("n" in name)
print("k" in name)
print("p" in name, end="\n\n")
print("n" not in name)
print("k" not in name)
print("p" not in name)

True
False
True

False
True
False