<a href="https://colab.research.google.com/github/KVenkataPavani/PYTHON_PROGRAMMING/blob/main/9_for%2Cwhile_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**for**

In [3]:
food = ["rice","aloo paratha","eggomlet","dal"]
for i in food:
  print(food)
  #not food item i you have to keep

['rice', 'aloo paratha', 'eggomlet', 'dal']
['rice', 'aloo paratha', 'eggomlet', 'dal']
['rice', 'aloo paratha', 'eggomlet', 'dal']
['rice', 'aloo paratha', 'eggomlet', 'dal']

In [4]:
food = ["rice","aloo paratha","eggomlet","dal"]
for i in food:
  print(i)

rice
aloo paratha
eggomlet
dal

In [6]:
for i in range(3):
  print(i)

0
1
2

In [9]:
food = ["rice","aloo paratha","eggomlet","dal"]
print(len(food))
for i in food:
  print(i)

4
rice
aloo paratha
eggomlet
dal

In [10]:
name="pavani kv"
for i in name:
  print(i)

p
a
v
a
n
i

k
v

In [13]:
for i in range(0,5):#range(0,5,1) same
  print(i)

0
1
2
3
4

In [15]:
for i in range(0,5,2):
  print(i)

0
2
4

In [18]:
for i in range(0,50,5):
  print(i)

0
5
10
15
20
25
30
35
40
45

In [20]:
food = ["rice","aloo paratha","eggomlet","dal"]
        #0          1              2        3   indexes
len(food)

4

In [22]:
for i in range(len(food)):
  print(i)

0
1
2
3

**ENUMERATE**
* The enumerate() function in Python is what allows you to get both the index and the value when you iterate over a list.

In [23]:
food = ["rice","aloo paratha","eggomlet","dal"]
for i,s  in enumerate(food):
  print("index value is",i)
  print("value is", s)

index value is 0
value is rice
index value is 1
value is aloo paratha
index value is 2
value is eggomlet
index value is 3
value is dal

In [37]:
food = ["rice","aloo paratha","eggomlet","dal"]
for i in range(len(food)-1,-2,-1):
  print(food[i])

dal
eggomlet
aloo paratha
rice
dal

In [39]:
food = ["rice","aloo paratha","eggomlet","dal"]
for i,j in enumerate(food):
  print("index",i)
  print("value",j)
 # print(i,j) both we can write

index 0
value rice
0 rice
index 1
value aloo paratha
1 aloo paratha
index 2
value eggomlet
2 eggomlet
index 3
value dal
3 dal

In [42]:
#listof lists
family = [["sathyam","vijaya"],["pavan","pavani"]]
for group in family:
  for person in group:
    print(person)

sathyam
vijaya
pavan
pavani

**ZIP** **function**

In [48]:
bookname=["monk who sold his ferari","the mountain is you"]
bookgenre=["self improvement","motivational"]

for i,j in zip(bookname,bookgenre):
  print(i ,"- book is of genre-", j)

monk who sold his ferari - book is of genre- self improvement
the mountain is you - book is of genre- motivational

**Understanding else in for loop**
* if there is a break in a for loop, then else block of for loop will not be executed.

* if there is no break in a for loop, then else block of for loop will be executed.

In [65]:
family = ["pavani", "me", "maira"]

for person in family:
  print("member: ", person)
  if person == "maira":
    break
else:
  print("its not correct")
print("Outside For loop")
#the loop was terminated by a break statement until then it will iterate the loop and wen break statement satisfies , the else block is not executed.

member:  pavani
member:  me
member:  maira
Outside For loop

# **while loop**

**Simple Counting**

In [49]:
#suppose we want to print numbers 1 to 5

count=1
while count<=5:
  print(count)
  count=count+1

1
2
3
4
5

  **Loop with a Condition that Can Change**

In [59]:
password = "@maira123"
current_password = ""

while current_password != password:
  current_password=input("enter password :")

print("correct,access is given")

enter password :pavania
enter password :kdbde
enter password :@maira123
correct,access is given

**Infinite Loop (with a Break Condition)**

In [60]:
n = 5
while n > 0:
    n = n- 1
    if n == 2:
        break
    print(n)
print('Loop ended.')
#this line is outside the loop, it will always be executed after the loop ends, whether the loop ended because of the break statement or because the loop condition n > 0 became false.

4
3
Loop ended.

In [61]:
n = 5
while n > 0:
    n = n- 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')
#It checks if n == 2. This time, it's true, so it skips the print statement in continue and goes back to the start of the loop.

4
3
1
0
Loop ended.

**while Loop with else**

In [62]:
n = 5
while n > 0:
    n =n- 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [63]:
n = 5
while n > 0:
    n =n- 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')
#Since the loop was broken by the break statement, the else block does not execute.
#The message "Loop done." is not printed because the loop was terminated with the break statement when n reached 2. The else block only executes if the loop completes normally without encountering a break.
#this line is outside the loop, it will always be executed after the loop ends, whether the loop ended because of the break statement or because the loop condition n > 0 became false. its not outside of while loopp so it wont print

4
3
2